/**头部**/
.header{ width:100%; float:left; height:65px; background:#1295f2; min-width:1000px; position:fixed; top:0; left:0; z-index:10; }
.logo{ width:225px; height:35px; float:left; margin:18px 0 0 20px;}
.date{ float:left; line-height:65px; color:#fff; margin-right:36px;}
.Bubble{ float:left; line-height:68px; margin-right:30px; position:relative;}
.Bubble span{ background:#f88311; min-width:10px; padding:3px  7px; font-size:12px; text-align:center;color:#fff; border-radius:10px;  position:absolute; line-height:10px; top:14px; right:-14px; }
.information{ float:left; margin-right:20px;}
.information ul{}
.information ul li{ float:left; line-height:63px; margin-right:12px; color:#fff;}
.information ul li i{ font-size:18px; color:#fff;}
.information ul li i:hover{ color:#000;}
.information ul li a{ color:#fff;}
.information ul li a:hover{ color:#000;}
/**头部消息弹出**/
.msg-cnt{width:260px;border-left: 1px solid #e3e5e7;border-bottom: 1px solid #e3e5e7;border-top: 1px solid #e3e5e7; padding-bottom:80px; padding-top:15px;top:65px;float: left;position: fixed;right: -280px;background: #fff;z-index: 10;overflow: auto; background:#fbfbfb; }
.m-r-xs{margin-right: 5px; font-size:12px;}
.text-success{ color:#4bb622;}
.text-warning{ color:#f88311;}
.text-muted-lt{ color:#d6d9db;}
.p{padding: 15px; line-height:22px; font-size:16px;}
.list-group a{ border:0; background:none; cursor:pointer;}
.p a{ cursor:pointer;}
.p a:hover{ text-decoration:none; color:#666;}
.nav ul li .current-cnt1{ width:230px; float:left; position:absolute; left:230px; z-index:5; top:0; background:url(../images/cntbg.png);}

/**左侧框架**/
.wrapper-left{width:185px;min-height:300px; position:fixed;  top:65px; left:0; z-index:6;overflow-y:scroll; background:#f0f1f2; height:100%; padding-bottom:100px;}
.wrapper-left ul{ width:100%; float:left;}
.wrapper-left ul li{ width:100%; float:left; margin-top:8px; }
.wrapper-left ul li a{ width:100%; float:left;font-size:16px; height:45px; line-height:45px; color:#202a3a; padding-left:20px; }
.wrapper-left ul li span{ float:right; margin-right:20px;}
.wrapper-left ul .active{ background:#1598f5; float:left;}
.wrapper-left ul .active a{ color:#fff; }
.wrapper-left ul .active ul li a{ color:#202a3a}
/**二级菜单样式**/
.wrapper-left ul li ul{ background:#ebf4fb;}
.wrapper-left ul li ul li{ margin-top:4px;}
.wrapper-left ul li ul li:hover{}
.wrapper-left ul li ul li a{padding-left:40px; height:30px; float:left; color:#202a3a; line-height:30px;font-size:14px;border-left:4px solid #ebf4fb; }
.wrapper-left ul li ul li a:hover{ background:#f6f7f8;border-left:4px solid #1295f2; }
/**三级菜单样式**/
.wrapper-left ul li ul li ul li a{padding-left:60px;}

/**右侧区域**/
.wrapper{width:100%; float:left; padding:65px 0 0px 185px; position:absolute; left:0; top:0; height:100%; min-width:1000px; }
.wrapper-right{float:left;height:100%; background:#f6f7f8;overflow-y:scroll;min-width:1000px;}
/**商品编辑大盒子**/
.wrapper-big{ padding:65px 0 0px 0px;}


/**分页**/
.paging-large{ text-align:center;width:100%;float:left}
.paging-large ul{ display:inline-block;  margin-top:20px;}
.paging-large ul li{ display:inline; float:left; line-height:32px; margin-left:5px;}
.paging-large ul li a{ width:34px; height:34px;  border:1px solid #ccc;  background:#f6f7f8; float:left; text-align:center; padding:0 0px; text-decoration:none; margin-left:5px;color:#555;}
.paging-large ul li a:hover{ background:#0697ef; color:#fff;border:1px solid #06a7e1;}
.paging-large ul .active a{background:#0697ef; color:#fff;border:1px solid #06a7e1;}
.paging-large ul .prev-up a{ width:65px;}
.paging-large ul .next-down a{width:65px;}
.paging-large ul li span{ float:left; margin-left:5px;margin-right:5px; }
.int-verysmall{ width:40px; height:30px; border:1px solid #ccc;text-align:center;}
.int-verysmall:hover{ border:1px solid #3eabff;}
.paging-large ul li span .but-determine{ width:40px; height:30px; background:#0697ef; border:1px solid #06a7e1; color:#fff; margin-left:0px; cursor:pointer; }
.paging-large ul li .btn-span{ margin-left:0px;}


/**底部**/
.footer{position: fixed; right:0; bottom:0; background:#fff; width:100%; height:42px; line-height:42px; padding-right:20px; z-index:21; text-align:right; border-top:1px solid #f1f2f3;}
