<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.slp.user.dao.mapper.interfaces.CmCustFileExtMapper" >
  <resultMap id="BaseResultMap" type="com.ai.slp.user.dao.mapper.bo.CmCustFileExt" >
    <id column="INFO_EXT_ID" property="infoExtId" jdbcType="VARCHAR" />
    <result column="TENANT_ID" property="tenantId" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="INFO_TYPE" property="infoType" jdbcType="VARCHAR" />
    <result column="INFO_ITEM" property="infoItem" jdbcType="VARCHAR" />
    <result column="INFO_NAME" property="infoName" jdbcType="VARCHAR" />
    <result column="STATE" property="state" jdbcType="VARCHAR" />
    <result column="ATTR_ID" property="attrId" jdbcType="VARCHAR" />
    <result column="ATTR_VALUE" property="attrValue" jdbcType="VARCHAR" />
    <result column="EDIT_STATE" property="editState" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_CHL_ID" property="createChlId" jdbcType="VARCHAR" />
    <result column="CREATE_OPER_ID" property="createOperId" jdbcType="BIGINT" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_CHL_ID" property="updateChlId" jdbcType="VARCHAR" />
    <result column="UPDATE_OPER_ID" property="updateOperId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    INFO_EXT_ID, TENANT_ID, USER_ID, INFO_TYPE, INFO_ITEM, INFO_NAME, STATE, ATTR_ID, 
    ATTR_VALUE, EDIT_STATE, CREATE_TIME, CREATE_CHL_ID, CREATE_OPER_ID, UPDATE_TIME, 
    UPDATE_CHL_ID, UPDATE_OPER_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.slp.user.dao.mapper.bo.CmCustFileExtCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from cm_cust_file_ext
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from cm_cust_file_ext
    where INFO_EXT_ID = #{infoExtId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from cm_cust_file_ext
    where INFO_EXT_ID = #{infoExtId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.slp.user.dao.mapper.bo.CmCustFileExtCriteria" >
    delete from cm_cust_file_ext
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.slp.user.dao.mapper.bo.CmCustFileExt" >
    insert into cm_cust_file_ext (INFO_EXT_ID, TENANT_ID, USER_ID, 
      INFO_TYPE, INFO_ITEM, INFO_NAME, 
      STATE, ATTR_ID, ATTR_VALUE, 
      EDIT_STATE, CREATE_TIME, CREATE_CHL_ID, 
      CREATE_OPER_ID, UPDATE_TIME, UPDATE_CHL_ID, 
      UPDATE_OPER_ID)
    values (#{infoExtId,jdbcType=VARCHAR}, #{tenantId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{infoType,jdbcType=VARCHAR}, #{infoItem,jdbcType=VARCHAR}, #{infoName,jdbcType=VARCHAR}, 
      #{state,jdbcType=VARCHAR}, #{attrId,jdbcType=VARCHAR}, #{attrValue,jdbcType=VARCHAR}, 
      #{editState,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createChlId,jdbcType=VARCHAR}, 
      #{createOperId,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, #{updateChlId,jdbcType=VARCHAR}, 
      #{updateOperId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.slp.user.dao.mapper.bo.CmCustFileExt" >
    insert into cm_cust_file_ext
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="infoExtId != null" >
        INFO_EXT_ID,
      </if>
      <if test="tenantId != null" >
        TENANT_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="infoType != null" >
        INFO_TYPE,
      </if>
      <if test="infoItem != null" >
        INFO_ITEM,
      </if>
      <if test="infoName != null" >
        INFO_NAME,
      </if>
      <if test="state != null" >
        STATE,
      </if>
      <if test="attrId != null" >
        ATTR_ID,
      </if>
      <if test="attrValue != null" >
        ATTR_VALUE,
      </if>
      <if test="editState != null" >
        EDIT_STATE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createChlId != null" >
        CREATE_CHL_ID,
      </if>
      <if test="createOperId != null" >
        CREATE_OPER_ID,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="updateChlId != null" >
        UPDATE_CHL_ID,
      </if>
      <if test="updateOperId != null" >
        UPDATE_OPER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="infoExtId != null" >
        #{infoExtId,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null" >
        #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="infoType != null" >
        #{infoType,jdbcType=VARCHAR},
      </if>
      <if test="infoItem != null" >
        #{infoItem,jdbcType=VARCHAR},
      </if>
      <if test="infoName != null" >
        #{infoName,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="attrId != null" >
        #{attrId,jdbcType=VARCHAR},
      </if>
      <if test="attrValue != null" >
        #{attrValue,jdbcType=VARCHAR},
      </if>
      <if test="editState != null" >
        #{editState,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createChlId != null" >
        #{createChlId,jdbcType=VARCHAR},
      </if>
      <if test="createOperId != null" >
        #{createOperId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateChlId != null" >
        #{updateChlId,jdbcType=VARCHAR},
      </if>
      <if test="updateOperId != null" >
        #{updateOperId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.slp.user.dao.mapper.bo.CmCustFileExtCriteria" resultType="java.lang.Integer" >
    select count(*) from cm_cust_file_ext
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cm_cust_file_ext
    <set >
      <if test="record.infoExtId != null" >
        INFO_EXT_ID = #{record.infoExtId,jdbcType=VARCHAR},
      </if>
      <if test="record.tenantId != null" >
        TENANT_ID = #{record.tenantId,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        USER_ID = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.infoType != null" >
        INFO_TYPE = #{record.infoType,jdbcType=VARCHAR},
      </if>
      <if test="record.infoItem != null" >
        INFO_ITEM = #{record.infoItem,jdbcType=VARCHAR},
      </if>
      <if test="record.infoName != null" >
        INFO_NAME = #{record.infoName,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        STATE = #{record.state,jdbcType=VARCHAR},
      </if>
      <if test="record.attrId != null" >
        ATTR_ID = #{record.attrId,jdbcType=VARCHAR},
      </if>
      <if test="record.attrValue != null" >
        ATTR_VALUE = #{record.attrValue,jdbcType=VARCHAR},
      </if>
      <if test="record.editState != null" >
        EDIT_STATE = #{record.editState,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createChlId != null" >
        CREATE_CHL_ID = #{record.createChlId,jdbcType=VARCHAR},
      </if>
      <if test="record.createOperId != null" >
        CREATE_OPER_ID = #{record.createOperId,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateChlId != null" >
        UPDATE_CHL_ID = #{record.updateChlId,jdbcType=VARCHAR},
      </if>
      <if test="record.updateOperId != null" >
        UPDATE_OPER_ID = #{record.updateOperId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cm_cust_file_ext
    set INFO_EXT_ID = #{record.infoExtId,jdbcType=VARCHAR},
      TENANT_ID = #{record.tenantId,jdbcType=VARCHAR},
      USER_ID = #{record.userId,jdbcType=VARCHAR},
      INFO_TYPE = #{record.infoType,jdbcType=VARCHAR},
      INFO_ITEM = #{record.infoItem,jdbcType=VARCHAR},
      INFO_NAME = #{record.infoName,jdbcType=VARCHAR},
      STATE = #{record.state,jdbcType=VARCHAR},
      ATTR_ID = #{record.attrId,jdbcType=VARCHAR},
      ATTR_VALUE = #{record.attrValue,jdbcType=VARCHAR},
      EDIT_STATE = #{record.editState,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      CREATE_CHL_ID = #{record.createChlId,jdbcType=VARCHAR},
      CREATE_OPER_ID = #{record.createOperId,jdbcType=BIGINT},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      UPDATE_CHL_ID = #{record.updateChlId,jdbcType=VARCHAR},
      UPDATE_OPER_ID = #{record.updateOperId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.slp.user.dao.mapper.bo.CmCustFileExt" >
    update cm_cust_file_ext
    <set >
      <if test="tenantId != null" >
        TENANT_ID = #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="infoType != null" >
        INFO_TYPE = #{infoType,jdbcType=VARCHAR},
      </if>
      <if test="infoItem != null" >
        INFO_ITEM = #{infoItem,jdbcType=VARCHAR},
      </if>
      <if test="infoName != null" >
        INFO_NAME = #{infoName,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=VARCHAR},
      </if>
      <if test="attrId != null" >
        ATTR_ID = #{attrId,jdbcType=VARCHAR},
      </if>
      <if test="attrValue != null" >
        ATTR_VALUE = #{attrValue,jdbcType=VARCHAR},
      </if>
      <if test="editState != null" >
        EDIT_STATE = #{editState,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createChlId != null" >
        CREATE_CHL_ID = #{createChlId,jdbcType=VARCHAR},
      </if>
      <if test="createOperId != null" >
        CREATE_OPER_ID = #{createOperId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateChlId != null" >
        UPDATE_CHL_ID = #{updateChlId,jdbcType=VARCHAR},
      </if>
      <if test="updateOperId != null" >
        UPDATE_OPER_ID = #{updateOperId,jdbcType=BIGINT},
      </if>
    </set>
    where INFO_EXT_ID = #{infoExtId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.slp.user.dao.mapper.bo.CmCustFileExt" >
    update cm_cust_file_ext
    set TENANT_ID = #{tenantId,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=VARCHAR},
      INFO_TYPE = #{infoType,jdbcType=VARCHAR},
      INFO_ITEM = #{infoItem,jdbcType=VARCHAR},
      INFO_NAME = #{infoName,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=VARCHAR},
      ATTR_ID = #{attrId,jdbcType=VARCHAR},
      ATTR_VALUE = #{attrValue,jdbcType=VARCHAR},
      EDIT_STATE = #{editState,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_CHL_ID = #{createChlId,jdbcType=VARCHAR},
      CREATE_OPER_ID = #{createOperId,jdbcType=BIGINT},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATE_CHL_ID = #{updateChlId,jdbcType=VARCHAR},
      UPDATE_OPER_ID = #{updateOperId,jdbcType=BIGINT}
    where INFO_EXT_ID = #{infoExtId,jdbcType=VARCHAR}
  </update>
</mapper>