<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.slp.user.dao.mapper.interfaces.UcCustKeyInfoMapper" >
  <resultMap id="BaseResultMap" type="com.ai.slp.user.dao.mapper.bo.UcCustKeyInfo" >
    <result column="TENANT_ID" property="tenantId" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="USER_TYPE" property="userType" jdbcType="VARCHAR" />
    <result column="CUST_NAME" property="custName" jdbcType="VARCHAR" />
    <result column="CERT_TYPE" property="certType" jdbcType="VARCHAR" />
    <result column="CERT_NUM" property="certNum" jdbcType="VARCHAR" />
    <result column="PROVINCE_CODE" property="provinceCode" jdbcType="VARCHAR" />
    <result column="CITY_CODE" property="cityCode" jdbcType="VARCHAR" />
    <result column="COUNTY_CODE" property="countyCode" jdbcType="VARCHAR" />
    <result column="CERT_ADDR" property="certAddr" jdbcType="VARCHAR" />
    <result column="CERT_ISSUE_DATE" property="certIssueDate" jdbcType="TIMESTAMP" />
    <result column="CERT_ISSUE_ORG" property="certIssueOrg" jdbcType="VARCHAR" />
    <result column="CERT_VALID_DATE" property="certValidDate" jdbcType="TIMESTAMP" />
    <result column="CERT_INVALID_DATE" property="certInvalidDate" jdbcType="TIMESTAMP" />
    <result column="CUST_SEX" property="custSex" jdbcType="VARCHAR" />
    <result column="CUST_BIRTHDAY" property="custBirthday" jdbcType="TIMESTAMP" />
    <result column="CUST_PROVINCE_CODE" property="custProvinceCode" jdbcType="VARCHAR" />
    <result column="CUST_CITY_CODE" property="custCityCode" jdbcType="VARCHAR" />
    <result column="CUST_COUNTY_CODE" property="custCountyCode" jdbcType="VARCHAR" />
    <result column="CUST_ADDR" property="custAddr" jdbcType="VARCHAR" />
    <result column="INCOME_LEVEL" property="incomeLevel" jdbcType="VARCHAR" />
    <result column="CUST_INDUSTRY" property="custIndustry" jdbcType="VARCHAR" />
    <result column="CUST_EDUCATION" property="custEducation" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_CHL_ID" property="createChlId" jdbcType="VARCHAR" />
    <result column="CREATE_OPER_ID" property="createOperId" jdbcType="BIGINT" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_CHL_ID" property="updateChlId" jdbcType="VARCHAR" />
    <result column="UPDATE_OPER_ID" property="updateOperId" jdbcType="BIGINT" />
    <result column="PERSONAL_REMARK" property="personalRemark" jdbcType="VARCHAR" />
    <result column="VERIFY_FLAG" property="verifyFlag" jdbcType="VARCHAR" />
    <result column="AUDIT_STATE" property="auditState" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    TENANT_ID, USER_ID, USER_TYPE, CUST_NAME, CERT_TYPE, CERT_NUM, PROVINCE_CODE, CITY_CODE, 
    COUNTY_CODE, CERT_ADDR, CERT_ISSUE_DATE, CERT_ISSUE_ORG, CERT_VALID_DATE, CERT_INVALID_DATE, 
    CUST_SEX, CUST_BIRTHDAY, CUST_PROVINCE_CODE, CUST_CITY_CODE, CUST_COUNTY_CODE, CUST_ADDR, 
    INCOME_LEVEL, CUST_INDUSTRY, CUST_EDUCATION, CREATE_TIME, CREATE_CHL_ID, CREATE_OPER_ID, 
    UPDATE_TIME, UPDATE_CHL_ID, UPDATE_OPER_ID, PERSONAL_REMARK, VERIFY_FLAG, AUDIT_STATE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.slp.user.dao.mapper.bo.UcCustKeyInfoCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from uc_cust_key_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.ai.slp.user.dao.mapper.bo.UcCustKeyInfoCriteria" >
    delete from uc_cust_key_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.slp.user.dao.mapper.bo.UcCustKeyInfo" >
    insert into uc_cust_key_info (TENANT_ID, USER_ID, USER_TYPE, 
      CUST_NAME, CERT_TYPE, CERT_NUM, 
      PROVINCE_CODE, CITY_CODE, COUNTY_CODE, 
      CERT_ADDR, CERT_ISSUE_DATE, CERT_ISSUE_ORG, 
      CERT_VALID_DATE, CERT_INVALID_DATE, CUST_SEX, 
      CUST_BIRTHDAY, CUST_PROVINCE_CODE, CUST_CITY_CODE, 
      CUST_COUNTY_CODE, CUST_ADDR, INCOME_LEVEL, 
      CUST_INDUSTRY, CUST_EDUCATION, CREATE_TIME, 
      CREATE_CHL_ID, CREATE_OPER_ID, UPDATE_TIME, 
      UPDATE_CHL_ID, UPDATE_OPER_ID, PERSONAL_REMARK, 
      VERIFY_FLAG, AUDIT_STATE)
    values (#{tenantId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{userType,jdbcType=VARCHAR}, 
      #{custName,jdbcType=VARCHAR}, #{certType,jdbcType=VARCHAR}, #{certNum,jdbcType=VARCHAR}, 
      #{provinceCode,jdbcType=VARCHAR}, #{cityCode,jdbcType=VARCHAR}, #{countyCode,jdbcType=VARCHAR}, 
      #{certAddr,jdbcType=VARCHAR}, #{certIssueDate,jdbcType=TIMESTAMP}, #{certIssueOrg,jdbcType=VARCHAR}, 
      #{certValidDate,jdbcType=TIMESTAMP}, #{certInvalidDate,jdbcType=TIMESTAMP}, #{custSex,jdbcType=VARCHAR}, 
      #{custBirthday,jdbcType=TIMESTAMP}, #{custProvinceCode,jdbcType=VARCHAR}, #{custCityCode,jdbcType=VARCHAR}, 
      #{custCountyCode,jdbcType=VARCHAR}, #{custAddr,jdbcType=VARCHAR}, #{incomeLevel,jdbcType=VARCHAR}, 
      #{custIndustry,jdbcType=VARCHAR}, #{custEducation,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createChlId,jdbcType=VARCHAR}, #{createOperId,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateChlId,jdbcType=VARCHAR}, #{updateOperId,jdbcType=BIGINT}, #{personalRemark,jdbcType=VARCHAR}, 
      #{verifyFlag,jdbcType=VARCHAR}, #{auditState,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.slp.user.dao.mapper.bo.UcCustKeyInfo" >
    insert into uc_cust_key_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tenantId != null" >
        TENANT_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="userType != null" >
        USER_TYPE,
      </if>
      <if test="custName != null" >
        CUST_NAME,
      </if>
      <if test="certType != null" >
        CERT_TYPE,
      </if>
      <if test="certNum != null" >
        CERT_NUM,
      </if>
      <if test="provinceCode != null" >
        PROVINCE_CODE,
      </if>
      <if test="cityCode != null" >
        CITY_CODE,
      </if>
      <if test="countyCode != null" >
        COUNTY_CODE,
      </if>
      <if test="certAddr != null" >
        CERT_ADDR,
      </if>
      <if test="certIssueDate != null" >
        CERT_ISSUE_DATE,
      </if>
      <if test="certIssueOrg != null" >
        CERT_ISSUE_ORG,
      </if>
      <if test="certValidDate != null" >
        CERT_VALID_DATE,
      </if>
      <if test="certInvalidDate != null" >
        CERT_INVALID_DATE,
      </if>
      <if test="custSex != null" >
        CUST_SEX,
      </if>
      <if test="custBirthday != null" >
        CUST_BIRTHDAY,
      </if>
      <if test="custProvinceCode != null" >
        CUST_PROVINCE_CODE,
      </if>
      <if test="custCityCode != null" >
        CUST_CITY_CODE,
      </if>
      <if test="custCountyCode != null" >
        CUST_COUNTY_CODE,
      </if>
      <if test="custAddr != null" >
        CUST_ADDR,
      </if>
      <if test="incomeLevel != null" >
        INCOME_LEVEL,
      </if>
      <if test="custIndustry != null" >
        CUST_INDUSTRY,
      </if>
      <if test="custEducation != null" >
        CUST_EDUCATION,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createChlId != null" >
        CREATE_CHL_ID,
      </if>
      <if test="createOperId != null" >
        CREATE_OPER_ID,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="updateChlId != null" >
        UPDATE_CHL_ID,
      </if>
      <if test="updateOperId != null" >
        UPDATE_OPER_ID,
      </if>
      <if test="personalRemark != null" >
        PERSONAL_REMARK,
      </if>
      <if test="verifyFlag != null" >
        VERIFY_FLAG,
      </if>
      <if test="auditState != null" >
        AUDIT_STATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tenantId != null" >
        #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=VARCHAR},
      </if>
      <if test="custName != null" >
        #{custName,jdbcType=VARCHAR},
      </if>
      <if test="certType != null" >
        #{certType,jdbcType=VARCHAR},
      </if>
      <if test="certNum != null" >
        #{certNum,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null" >
        #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="countyCode != null" >
        #{countyCode,jdbcType=VARCHAR},
      </if>
      <if test="certAddr != null" >
        #{certAddr,jdbcType=VARCHAR},
      </if>
      <if test="certIssueDate != null" >
        #{certIssueDate,jdbcType=TIMESTAMP},
      </if>
      <if test="certIssueOrg != null" >
        #{certIssueOrg,jdbcType=VARCHAR},
      </if>
      <if test="certValidDate != null" >
        #{certValidDate,jdbcType=TIMESTAMP},
      </if>
      <if test="certInvalidDate != null" >
        #{certInvalidDate,jdbcType=TIMESTAMP},
      </if>
      <if test="custSex != null" >
        #{custSex,jdbcType=VARCHAR},
      </if>
      <if test="custBirthday != null" >
        #{custBirthday,jdbcType=TIMESTAMP},
      </if>
      <if test="custProvinceCode != null" >
        #{custProvinceCode,jdbcType=VARCHAR},
      </if>
      <if test="custCityCode != null" >
        #{custCityCode,jdbcType=VARCHAR},
      </if>
      <if test="custCountyCode != null" >
        #{custCountyCode,jdbcType=VARCHAR},
      </if>
      <if test="custAddr != null" >
        #{custAddr,jdbcType=VARCHAR},
      </if>
      <if test="incomeLevel != null" >
        #{incomeLevel,jdbcType=VARCHAR},
      </if>
      <if test="custIndustry != null" >
        #{custIndustry,jdbcType=VARCHAR},
      </if>
      <if test="custEducation != null" >
        #{custEducation,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createChlId != null" >
        #{createChlId,jdbcType=VARCHAR},
      </if>
      <if test="createOperId != null" >
        #{createOperId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateChlId != null" >
        #{updateChlId,jdbcType=VARCHAR},
      </if>
      <if test="updateOperId != null" >
        #{updateOperId,jdbcType=BIGINT},
      </if>
      <if test="personalRemark != null" >
        #{personalRemark,jdbcType=VARCHAR},
      </if>
      <if test="verifyFlag != null" >
        #{verifyFlag,jdbcType=VARCHAR},
      </if>
      <if test="auditState != null" >
        #{auditState,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.slp.user.dao.mapper.bo.UcCustKeyInfoCriteria" resultType="java.lang.Integer" >
    select count(*) from uc_cust_key_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update uc_cust_key_info
    <set >
      <if test="record.tenantId != null" >
        TENANT_ID = #{record.tenantId,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        USER_ID = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.userType != null" >
        USER_TYPE = #{record.userType,jdbcType=VARCHAR},
      </if>
      <if test="record.custName != null" >
        CUST_NAME = #{record.custName,jdbcType=VARCHAR},
      </if>
      <if test="record.certType != null" >
        CERT_TYPE = #{record.certType,jdbcType=VARCHAR},
      </if>
      <if test="record.certNum != null" >
        CERT_NUM = #{record.certNum,jdbcType=VARCHAR},
      </if>
      <if test="record.provinceCode != null" >
        PROVINCE_CODE = #{record.provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="record.cityCode != null" >
        CITY_CODE = #{record.cityCode,jdbcType=VARCHAR},
      </if>
      <if test="record.countyCode != null" >
        COUNTY_CODE = #{record.countyCode,jdbcType=VARCHAR},
      </if>
      <if test="record.certAddr != null" >
        CERT_ADDR = #{record.certAddr,jdbcType=VARCHAR},
      </if>
      <if test="record.certIssueDate != null" >
        CERT_ISSUE_DATE = #{record.certIssueDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.certIssueOrg != null" >
        CERT_ISSUE_ORG = #{record.certIssueOrg,jdbcType=VARCHAR},
      </if>
      <if test="record.certValidDate != null" >
        CERT_VALID_DATE = #{record.certValidDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.certInvalidDate != null" >
        CERT_INVALID_DATE = #{record.certInvalidDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.custSex != null" >
        CUST_SEX = #{record.custSex,jdbcType=VARCHAR},
      </if>
      <if test="record.custBirthday != null" >
        CUST_BIRTHDAY = #{record.custBirthday,jdbcType=TIMESTAMP},
      </if>
      <if test="record.custProvinceCode != null" >
        CUST_PROVINCE_CODE = #{record.custProvinceCode,jdbcType=VARCHAR},
      </if>
      <if test="record.custCityCode != null" >
        CUST_CITY_CODE = #{record.custCityCode,jdbcType=VARCHAR},
      </if>
      <if test="record.custCountyCode != null" >
        CUST_COUNTY_CODE = #{record.custCountyCode,jdbcType=VARCHAR},
      </if>
      <if test="record.custAddr != null" >
        CUST_ADDR = #{record.custAddr,jdbcType=VARCHAR},
      </if>
      <if test="record.incomeLevel != null" >
        INCOME_LEVEL = #{record.incomeLevel,jdbcType=VARCHAR},
      </if>
      <if test="record.custIndustry != null" >
        CUST_INDUSTRY = #{record.custIndustry,jdbcType=VARCHAR},
      </if>
      <if test="record.custEducation != null" >
        CUST_EDUCATION = #{record.custEducation,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createChlId != null" >
        CREATE_CHL_ID = #{record.createChlId,jdbcType=VARCHAR},
      </if>
      <if test="record.createOperId != null" >
        CREATE_OPER_ID = #{record.createOperId,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateChlId != null" >
        UPDATE_CHL_ID = #{record.updateChlId,jdbcType=VARCHAR},
      </if>
      <if test="record.updateOperId != null" >
        UPDATE_OPER_ID = #{record.updateOperId,jdbcType=BIGINT},
      </if>
      <if test="record.personalRemark != null" >
        PERSONAL_REMARK = #{record.personalRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.verifyFlag != null" >
        VERIFY_FLAG = #{record.verifyFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.auditState != null" >
        AUDIT_STATE = #{record.auditState,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update uc_cust_key_info
    set TENANT_ID = #{record.tenantId,jdbcType=VARCHAR},
      USER_ID = #{record.userId,jdbcType=VARCHAR},
      USER_TYPE = #{record.userType,jdbcType=VARCHAR},
      CUST_NAME = #{record.custName,jdbcType=VARCHAR},
      CERT_TYPE = #{record.certType,jdbcType=VARCHAR},
      CERT_NUM = #{record.certNum,jdbcType=VARCHAR},
      PROVINCE_CODE = #{record.provinceCode,jdbcType=VARCHAR},
      CITY_CODE = #{record.cityCode,jdbcType=VARCHAR},
      COUNTY_CODE = #{record.countyCode,jdbcType=VARCHAR},
      CERT_ADDR = #{record.certAddr,jdbcType=VARCHAR},
      CERT_ISSUE_DATE = #{record.certIssueDate,jdbcType=TIMESTAMP},
      CERT_ISSUE_ORG = #{record.certIssueOrg,jdbcType=VARCHAR},
      CERT_VALID_DATE = #{record.certValidDate,jdbcType=TIMESTAMP},
      CERT_INVALID_DATE = #{record.certInvalidDate,jdbcType=TIMESTAMP},
      CUST_SEX = #{record.custSex,jdbcType=VARCHAR},
      CUST_BIRTHDAY = #{record.custBirthday,jdbcType=TIMESTAMP},
      CUST_PROVINCE_CODE = #{record.custProvinceCode,jdbcType=VARCHAR},
      CUST_CITY_CODE = #{record.custCityCode,jdbcType=VARCHAR},
      CUST_COUNTY_CODE = #{record.custCountyCode,jdbcType=VARCHAR},
      CUST_ADDR = #{record.custAddr,jdbcType=VARCHAR},
      INCOME_LEVEL = #{record.incomeLevel,jdbcType=VARCHAR},
      CUST_INDUSTRY = #{record.custIndustry,jdbcType=VARCHAR},
      CUST_EDUCATION = #{record.custEducation,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      CREATE_CHL_ID = #{record.createChlId,jdbcType=VARCHAR},
      CREATE_OPER_ID = #{record.createOperId,jdbcType=BIGINT},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      UPDATE_CHL_ID = #{record.updateChlId,jdbcType=VARCHAR},
      UPDATE_OPER_ID = #{record.updateOperId,jdbcType=BIGINT},
      PERSONAL_REMARK = #{record.personalRemark,jdbcType=VARCHAR},
      VERIFY_FLAG = #{record.verifyFlag,jdbcType=VARCHAR},
      AUDIT_STATE = #{record.auditState,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>