<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.slp.user.dao.mapper.interfaces.UcStateChgMapper" >
  <resultMap id="BaseResultMap" type="com.ai.slp.user.dao.mapper.bo.UcStateChg" >
    <result column="TENANT_ID" property="tenantId" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="STATE_CHG_ID" property="stateChgId" jdbcType="VARCHAR" />
    <result column="OPER_TYPE" property="operType" jdbcType="VARCHAR" />
    <result column="OLD_STATE" property="oldState" jdbcType="VARCHAR" />
    <result column="NEW_STATE" property="newState" jdbcType="VARCHAR" />
    <result column="CHG_DESC" property="chgDesc" jdbcType="VARCHAR" />
    <result column="CHG_TIME" property="chgTime" jdbcType="TIMESTAMP" />
    <result column="CHL_ID" property="chlId" jdbcType="VARCHAR" />
    <result column="OPER_ID" property="operId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    TENANT_ID, USER_ID, STATE_CHG_ID, OPER_TYPE, OLD_STATE, NEW_STATE, CHG_DESC, CHG_TIME, 
    CHL_ID, OPER_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.slp.user.dao.mapper.bo.UcStateChgCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from uc_state_chg
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.ai.slp.user.dao.mapper.bo.UcStateChgCriteria" >
    delete from uc_state_chg
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.slp.user.dao.mapper.bo.UcStateChg" >
    insert into uc_state_chg (TENANT_ID, USER_ID, STATE_CHG_ID, 
      OPER_TYPE, OLD_STATE, NEW_STATE, 
      CHG_DESC, CHG_TIME, CHL_ID, 
      OPER_ID)
    values (#{tenantId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{stateChgId,jdbcType=VARCHAR}, 
      #{operType,jdbcType=VARCHAR}, #{oldState,jdbcType=VARCHAR}, #{newState,jdbcType=VARCHAR}, 
      #{chgDesc,jdbcType=VARCHAR}, #{chgTime,jdbcType=TIMESTAMP}, #{chlId,jdbcType=VARCHAR}, 
      #{operId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.slp.user.dao.mapper.bo.UcStateChg" >
    insert into uc_state_chg
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tenantId != null" >
        TENANT_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="stateChgId != null" >
        STATE_CHG_ID,
      </if>
      <if test="operType != null" >
        OPER_TYPE,
      </if>
      <if test="oldState != null" >
        OLD_STATE,
      </if>
      <if test="newState != null" >
        NEW_STATE,
      </if>
      <if test="chgDesc != null" >
        CHG_DESC,
      </if>
      <if test="chgTime != null" >
        CHG_TIME,
      </if>
      <if test="chlId != null" >
        CHL_ID,
      </if>
      <if test="operId != null" >
        OPER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tenantId != null" >
        #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="stateChgId != null" >
        #{stateChgId,jdbcType=VARCHAR},
      </if>
      <if test="operType != null" >
        #{operType,jdbcType=VARCHAR},
      </if>
      <if test="oldState != null" >
        #{oldState,jdbcType=VARCHAR},
      </if>
      <if test="newState != null" >
        #{newState,jdbcType=VARCHAR},
      </if>
      <if test="chgDesc != null" >
        #{chgDesc,jdbcType=VARCHAR},
      </if>
      <if test="chgTime != null" >
        #{chgTime,jdbcType=TIMESTAMP},
      </if>
      <if test="chlId != null" >
        #{chlId,jdbcType=VARCHAR},
      </if>
      <if test="operId != null" >
        #{operId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.slp.user.dao.mapper.bo.UcStateChgCriteria" resultType="java.lang.Integer" >
    select count(*) from uc_state_chg
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update uc_state_chg
    <set >
      <if test="record.tenantId != null" >
        TENANT_ID = #{record.tenantId,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        USER_ID = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.stateChgId != null" >
        STATE_CHG_ID = #{record.stateChgId,jdbcType=VARCHAR},
      </if>
      <if test="record.operType != null" >
        OPER_TYPE = #{record.operType,jdbcType=VARCHAR},
      </if>
      <if test="record.oldState != null" >
        OLD_STATE = #{record.oldState,jdbcType=VARCHAR},
      </if>
      <if test="record.newState != null" >
        NEW_STATE = #{record.newState,jdbcType=VARCHAR},
      </if>
      <if test="record.chgDesc != null" >
        CHG_DESC = #{record.chgDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.chgTime != null" >
        CHG_TIME = #{record.chgTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.chlId != null" >
        CHL_ID = #{record.chlId,jdbcType=VARCHAR},
      </if>
      <if test="record.operId != null" >
        OPER_ID = #{record.operId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update uc_state_chg
    set TENANT_ID = #{record.tenantId,jdbcType=VARCHAR},
      USER_ID = #{record.userId,jdbcType=VARCHAR},
      STATE_CHG_ID = #{record.stateChgId,jdbcType=VARCHAR},
      OPER_TYPE = #{record.operType,jdbcType=VARCHAR},
      OLD_STATE = #{record.oldState,jdbcType=VARCHAR},
      NEW_STATE = #{record.newState,jdbcType=VARCHAR},
      CHG_DESC = #{record.chgDesc,jdbcType=VARCHAR},
      CHG_TIME = #{record.chgTime,jdbcType=TIMESTAMP},
      CHL_ID = #{record.chlId,jdbcType=VARCHAR},
      OPER_ID = #{record.operId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>