<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.slp.user.dao.mapper.interfaces.UcUserPhonebooksMapper" >
  <resultMap id="BaseResultMap" type="com.ai.slp.user.dao.mapper.bo.UcUserPhonebooks" >
    <id column="TEL_NO" property="telNo" jdbcType="VARCHAR" />
    <result column="TENANT_ID" property="tenantId" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="TEL_GROUP_ID" property="telGroupId" jdbcType="VARCHAR" />
    <result column="SEQ" property="seq" jdbcType="BIGINT" />
    <result column="TEL_NAME" property="telName" jdbcType="VARCHAR" />
    <result column="TEL_MP" property="telMp" jdbcType="VARCHAR" />
    <result column="PROVINCE_CODE" property="provinceCode" jdbcType="VARCHAR" />
    <result column="CITY_CODE" property="cityCode" jdbcType="VARCHAR" />
    <result column="BASIC_ORG_ID" property="basicOrgId" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_CHL_ID" property="createChlId" jdbcType="VARCHAR" />
    <result column="CREATE_OPER_ID" property="createOperId" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_CHL_ID" property="updateChlId" jdbcType="VARCHAR" />
    <result column="UPDATE_OPER_ID" property="updateOperId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    TEL_NO, TENANT_ID, USER_ID, TEL_GROUP_ID, SEQ, TEL_NAME, TEL_MP, PROVINCE_CODE, CITY_CODE, 
    BASIC_ORG_ID, CREATE_TIME, CREATE_CHL_ID, CREATE_OPER_ID, UPDATE_TIME, UPDATE_CHL_ID, 
    UPDATE_OPER_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.slp.user.dao.mapper.bo.UcUserPhonebooksCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from uc_user_phonebooks
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from uc_user_phonebooks
    where TEL_NO = #{telNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from uc_user_phonebooks
    where TEL_NO = #{telNo,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.slp.user.dao.mapper.bo.UcUserPhonebooksCriteria" >
    delete from uc_user_phonebooks
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.slp.user.dao.mapper.bo.UcUserPhonebooks" >
    insert into uc_user_phonebooks (TEL_NO, TENANT_ID, USER_ID, 
      TEL_GROUP_ID, SEQ, TEL_NAME, 
      TEL_MP, PROVINCE_CODE, CITY_CODE, 
      BASIC_ORG_ID, CREATE_TIME, CREATE_CHL_ID, 
      CREATE_OPER_ID, UPDATE_TIME, UPDATE_CHL_ID, 
      UPDATE_OPER_ID)
    values (#{telNo,jdbcType=VARCHAR}, #{tenantId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{telGroupId,jdbcType=VARCHAR}, #{seq,jdbcType=BIGINT}, #{telName,jdbcType=VARCHAR}, 
      #{telMp,jdbcType=VARCHAR}, #{provinceCode,jdbcType=VARCHAR}, #{cityCode,jdbcType=VARCHAR}, 
      #{basicOrgId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createChlId,jdbcType=VARCHAR}, 
      #{createOperId,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateChlId,jdbcType=VARCHAR}, 
      #{updateOperId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.slp.user.dao.mapper.bo.UcUserPhonebooks" >
    insert into uc_user_phonebooks
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="telNo != null" >
        TEL_NO,
      </if>
      <if test="tenantId != null" >
        TENANT_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="telGroupId != null" >
        TEL_GROUP_ID,
      </if>
      SEQ,
      <if test="telName != null" >
        TEL_NAME,
      </if>
      <if test="telMp != null" >
        TEL_MP,
      </if>
      <if test="provinceCode != null" >
        PROVINCE_CODE,
      </if>
      <if test="cityCode != null" >
        CITY_CODE,
      </if>
      <if test="basicOrgId != null" >
        BASIC_ORG_ID,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createChlId != null" >
        CREATE_CHL_ID,
      </if>
      <if test="createOperId != null" >
        CREATE_OPER_ID,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="updateChlId != null" >
        UPDATE_CHL_ID,
      </if>
      <if test="updateOperId != null" >
        UPDATE_OPER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="telNo != null" >
        #{telNo,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null" >
        #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="telGroupId != null" >
        #{telGroupId,jdbcType=VARCHAR},
      </if>
      #{seq,jdbcType=BIGINT},
      <if test="telName != null" >
        #{telName,jdbcType=VARCHAR},
      </if>
      <if test="telMp != null" >
        #{telMp,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null" >
        #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="basicOrgId != null" >
        #{basicOrgId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createChlId != null" >
        #{createChlId,jdbcType=VARCHAR},
      </if>
      <if test="createOperId != null" >
        #{createOperId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateChlId != null" >
        #{updateChlId,jdbcType=VARCHAR},
      </if>
      <if test="updateOperId != null" >
        #{updateOperId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <insert id="insertList" parameterType="java.util.List" >
     insert into uc_user_phonebooks (TEL_NO, TENANT_ID, USER_ID, 
      TEL_GROUP_ID, SEQ, TEL_NAME, 
      TEL_MP, PROVINCE_CODE, CITY_CODE, 
      BASIC_ORG_ID, CREATE_TIME, CREATE_CHL_ID, 
      CREATE_OPER_ID, UPDATE_TIME, UPDATE_CHL_ID, 
      UPDATE_OPER_ID)
    values 
    <foreach collection="list" item="item" index="index" separator="," >  
    (#{item.telNo,jdbcType=VARCHAR}, #{item.tenantId,jdbcType=VARCHAR}, #{item.userId,jdbcType=VARCHAR}, 
      #{item.telGroupId,jdbcType=VARCHAR}, #{item.seq,jdbcType=BIGINT}, #{item.telName,jdbcType=VARCHAR}, 
      #{item.telMp,jdbcType=VARCHAR}, #{item.provinceCode,jdbcType=VARCHAR}, #{item.cityCode,jdbcType=VARCHAR}, 
      #{item.basicOrgId,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP}, #{item.createChlId,jdbcType=VARCHAR}, 
      #{item.createOperId,jdbcType=VARCHAR}, #{item.updateTime,jdbcType=TIMESTAMP}, #{item.updateChlId,jdbcType=VARCHAR}, 
      #{item.updateOperId,jdbcType=VARCHAR})
    </foreach>
  </insert>
  
  <select id="countByExample" parameterType="com.ai.slp.user.dao.mapper.bo.UcUserPhonebooksCriteria" resultType="java.lang.Integer" >
    select count(*) from uc_user_phonebooks
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update uc_user_phonebooks
    <set >
      <if test="record.telNo != null" >
        TEL_NO = #{record.telNo,jdbcType=VARCHAR},
      </if>
      <if test="record.tenantId != null" >
        TENANT_ID = #{record.tenantId,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        USER_ID = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.telGroupId != null" >
        TEL_GROUP_ID = #{record.telGroupId,jdbcType=VARCHAR},
      </if>
      <if test="record.seq != null" >
        SEQ = #{record.seq,jdbcType=BIGINT},
      </if>
      <if test="record.telName != null" >
        TEL_NAME = #{record.telName,jdbcType=VARCHAR},
      </if>
      <if test="record.telMp != null" >
        TEL_MP = #{record.telMp,jdbcType=VARCHAR},
      </if>
      <if test="record.provinceCode != null" >
        PROVINCE_CODE = #{record.provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="record.cityCode != null" >
        CITY_CODE = #{record.cityCode,jdbcType=VARCHAR},
      </if>
      <if test="record.basicOrgId != null" >
        BASIC_ORG_ID = #{record.basicOrgId,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createChlId != null" >
        CREATE_CHL_ID = #{record.createChlId,jdbcType=VARCHAR},
      </if>
      <if test="record.createOperId != null" >
        CREATE_OPER_ID = #{record.createOperId,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateChlId != null" >
        UPDATE_CHL_ID = #{record.updateChlId,jdbcType=VARCHAR},
      </if>
      <if test="record.updateOperId != null" >
        UPDATE_OPER_ID = #{record.updateOperId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update uc_user_phonebooks
    set TEL_NO = #{record.telNo,jdbcType=VARCHAR},
      TENANT_ID = #{record.tenantId,jdbcType=VARCHAR},
      USER_ID = #{record.userId,jdbcType=VARCHAR},
      TEL_GROUP_ID = #{record.telGroupId,jdbcType=VARCHAR},
      SEQ = #{record.seq,jdbcType=BIGINT},
      TEL_NAME = #{record.telName,jdbcType=VARCHAR},
      TEL_MP = #{record.telMp,jdbcType=VARCHAR},
      PROVINCE_CODE = #{record.provinceCode,jdbcType=VARCHAR},
      CITY_CODE = #{record.cityCode,jdbcType=VARCHAR},
      BASIC_ORG_ID = #{record.basicOrgId,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      CREATE_CHL_ID = #{record.createChlId,jdbcType=VARCHAR},
      CREATE_OPER_ID = #{record.createOperId,jdbcType=VARCHAR},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      UPDATE_CHL_ID = #{record.updateChlId,jdbcType=VARCHAR},
      UPDATE_OPER_ID = #{record.updateOperId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.slp.user.dao.mapper.bo.UcUserPhonebooks" >
    update uc_user_phonebooks
    <set >
      <if test="tenantId != null" >
        TENANT_ID = #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="telGroupId != null" >
        TEL_GROUP_ID = #{telGroupId,jdbcType=VARCHAR},
      </if>
      <if test="seq != null" >
        SEQ = #{seq,jdbcType=BIGINT},
      </if>
      <if test="telName != null" >
        TEL_NAME = #{telName,jdbcType=VARCHAR},
      </if>
      <if test="telMp != null" >
        TEL_MP = #{telMp,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null" >
        PROVINCE_CODE = #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        CITY_CODE = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="basicOrgId != null" >
        BASIC_ORG_ID = #{basicOrgId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createChlId != null" >
        CREATE_CHL_ID = #{createChlId,jdbcType=VARCHAR},
      </if>
      <if test="createOperId != null" >
        CREATE_OPER_ID = #{createOperId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateChlId != null" >
        UPDATE_CHL_ID = #{updateChlId,jdbcType=VARCHAR},
      </if>
      <if test="updateOperId != null" >
        UPDATE_OPER_ID = #{updateOperId,jdbcType=VARCHAR},
      </if>
    </set>
    where TEL_NO = #{telNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.slp.user.dao.mapper.bo.UcUserPhonebooks" >
    update uc_user_phonebooks
    set TENANT_ID = #{tenantId,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=VARCHAR},
      TEL_GROUP_ID = #{telGroupId,jdbcType=VARCHAR},
      SEQ = #{seq,jdbcType=BIGINT},
      TEL_NAME = #{telName,jdbcType=VARCHAR},
      TEL_MP = #{telMp,jdbcType=VARCHAR},
      PROVINCE_CODE = #{provinceCode,jdbcType=VARCHAR},
      CITY_CODE = #{cityCode,jdbcType=VARCHAR},
      BASIC_ORG_ID = #{basicOrgId,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_CHL_ID = #{createChlId,jdbcType=VARCHAR},
      CREATE_OPER_ID = #{createOperId,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATE_CHL_ID = #{updateChlId,jdbcType=VARCHAR},
      UPDATE_OPER_ID = #{updateOperId,jdbcType=VARCHAR}
    where TEL_NO = #{telNo,jdbcType=VARCHAR}
  </update>
</mapper>