<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.slp.user.dao.mapper.interfaces.UcUserAgreeMapper" >
  <resultMap id="BaseResultMap" type="com.ai.slp.user.dao.mapper.bo.UcUserAgree" >
    <result column="TENANT_ID" property="tenantId" jdbcType="VARCHAR" />
    <result column="AGREE_SEQ_ID" property="agreeSeqId" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="AGREEMENT_ID" property="agreementId" jdbcType="VARCHAR" />
    <result column="SUBS_TIME" property="subsTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    TENANT_ID, AGREE_SEQ_ID, USER_ID, AGREEMENT_ID, SUBS_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.slp.user.dao.mapper.bo.UcUserAgreeCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from uc_user_agree
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.ai.slp.user.dao.mapper.bo.UcUserAgreeCriteria" >
    delete from uc_user_agree
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.slp.user.dao.mapper.bo.UcUserAgree" >
    insert into uc_user_agree (TENANT_ID, AGREE_SEQ_ID, USER_ID, 
      AGREEMENT_ID, SUBS_TIME)
    values (#{tenantId,jdbcType=VARCHAR}, #{agreeSeqId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{agreementId,jdbcType=VARCHAR}, #{subsTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.slp.user.dao.mapper.bo.UcUserAgree" >
    insert into uc_user_agree
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tenantId != null" >
        TENANT_ID,
      </if>
      <if test="agreeSeqId != null" >
        AGREE_SEQ_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="agreementId != null" >
        AGREEMENT_ID,
      </if>
      <if test="subsTime != null" >
        SUBS_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tenantId != null" >
        #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="agreeSeqId != null" >
        #{agreeSeqId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="agreementId != null" >
        #{agreementId,jdbcType=VARCHAR},
      </if>
      <if test="subsTime != null" >
        #{subsTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.slp.user.dao.mapper.bo.UcUserAgreeCriteria" resultType="java.lang.Integer" >
    select count(*) from uc_user_agree
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update uc_user_agree
    <set >
      <if test="record.tenantId != null" >
        TENANT_ID = #{record.tenantId,jdbcType=VARCHAR},
      </if>
      <if test="record.agreeSeqId != null" >
        AGREE_SEQ_ID = #{record.agreeSeqId,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        USER_ID = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.agreementId != null" >
        AGREEMENT_ID = #{record.agreementId,jdbcType=VARCHAR},
      </if>
      <if test="record.subsTime != null" >
        SUBS_TIME = #{record.subsTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update uc_user_agree
    set TENANT_ID = #{record.tenantId,jdbcType=VARCHAR},
      AGREE_SEQ_ID = #{record.agreeSeqId,jdbcType=VARCHAR},
      USER_ID = #{record.userId,jdbcType=VARCHAR},
      AGREEMENT_ID = #{record.agreementId,jdbcType=VARCHAR},
      SUBS_TIME = #{record.subsTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>