<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.slp.route.dao.mapper.interfaces.RouteGroupMapper" >
  <resultMap id="BaseResultMap" type="com.ai.slp.route.dao.mapper.bo.RouteGroup" >
    <id column="ROUTE_GROUP_ID" property="routeGroupId" jdbcType="VARCHAR" />
    <result column="TENANT_ID" property="tenantId" jdbcType="VARCHAR" />
    <result column="ROUTE_GROUP_NAME" property="routeGroupName" jdbcType="VARCHAR" />
    <result column="STATE" property="state" jdbcType="VARCHAR" />
    <result column="OPER_ID" property="operId" jdbcType="DECIMAL" />
    <result column="OPER_TIME" property="operTime" jdbcType="TIMESTAMP" />
    <result column="SUPPLIER_ID" property="supplierId" jdbcType="VARCHAR" />
    <result column="ROUTE_GROUP_TYPE" property="routeGroupType" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ROUTE_GROUP_ID, TENANT_ID, ROUTE_GROUP_NAME, STATE, OPER_ID, OPER_TIME, SUPPLIER_ID, 
    ROUTE_GROUP_TYPE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.slp.route.dao.mapper.bo.RouteGroupCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from route_group
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from route_group
    where ROUTE_GROUP_ID = #{routeGroupId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from route_group
    where ROUTE_GROUP_ID = #{routeGroupId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.slp.route.dao.mapper.bo.RouteGroupCriteria" >
    delete from route_group
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.slp.route.dao.mapper.bo.RouteGroup" >
    insert into route_group (ROUTE_GROUP_ID, TENANT_ID, ROUTE_GROUP_NAME, 
      STATE, OPER_ID, OPER_TIME, 
      SUPPLIER_ID, ROUTE_GROUP_TYPE)
    values (#{routeGroupId,jdbcType=VARCHAR}, #{tenantId,jdbcType=VARCHAR}, #{routeGroupName,jdbcType=VARCHAR}, 
      #{state,jdbcType=VARCHAR}, #{operId,jdbcType=DECIMAL}, #{operTime,jdbcType=TIMESTAMP}, 
      #{supplierId,jdbcType=VARCHAR}, #{routeGroupType,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.slp.route.dao.mapper.bo.RouteGroup" >
    insert into route_group
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="routeGroupId != null" >
        ROUTE_GROUP_ID,
      </if>
      <if test="tenantId != null" >
        TENANT_ID,
      </if>
      <if test="routeGroupName != null" >
        ROUTE_GROUP_NAME,
      </if>
      <if test="state != null" >
        STATE,
      </if>
      <if test="operId != null" >
        OPER_ID,
      </if>
      <if test="operTime != null" >
        OPER_TIME,
      </if>
      <if test="supplierId != null" >
        SUPPLIER_ID,
      </if>
      <if test="routeGroupType != null" >
        ROUTE_GROUP_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="routeGroupId != null" >
        #{routeGroupId,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null" >
        #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="routeGroupName != null" >
        #{routeGroupName,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="operId != null" >
        #{operId,jdbcType=DECIMAL},
      </if>
      <if test="operTime != null" >
        #{operTime,jdbcType=TIMESTAMP},
      </if>
      <if test="supplierId != null" >
        #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="routeGroupType != null" >
        #{routeGroupType,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.slp.route.dao.mapper.bo.RouteGroupCriteria" resultType="java.lang.Integer" >
    select count(*) from route_group
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update route_group
    <set >
      <if test="record.routeGroupId != null" >
        ROUTE_GROUP_ID = #{record.routeGroupId,jdbcType=VARCHAR},
      </if>
      <if test="record.tenantId != null" >
        TENANT_ID = #{record.tenantId,jdbcType=VARCHAR},
      </if>
      <if test="record.routeGroupName != null" >
        ROUTE_GROUP_NAME = #{record.routeGroupName,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        STATE = #{record.state,jdbcType=VARCHAR},
      </if>
      <if test="record.operId != null" >
        OPER_ID = #{record.operId,jdbcType=DECIMAL},
      </if>
      <if test="record.operTime != null" >
        OPER_TIME = #{record.operTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.supplierId != null" >
        SUPPLIER_ID = #{record.supplierId,jdbcType=VARCHAR},
      </if>
      <if test="record.routeGroupType != null" >
        ROUTE_GROUP_TYPE = #{record.routeGroupType,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update route_group
    set ROUTE_GROUP_ID = #{record.routeGroupId,jdbcType=VARCHAR},
      TENANT_ID = #{record.tenantId,jdbcType=VARCHAR},
      ROUTE_GROUP_NAME = #{record.routeGroupName,jdbcType=VARCHAR},
      STATE = #{record.state,jdbcType=VARCHAR},
      OPER_ID = #{record.operId,jdbcType=DECIMAL},
      OPER_TIME = #{record.operTime,jdbcType=TIMESTAMP},
      SUPPLIER_ID = #{record.supplierId,jdbcType=VARCHAR},
      ROUTE_GROUP_TYPE = #{record.routeGroupType,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.slp.route.dao.mapper.bo.RouteGroup" >
    update route_group
    <set >
      <if test="tenantId != null" >
        TENANT_ID = #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="routeGroupName != null" >
        ROUTE_GROUP_NAME = #{routeGroupName,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=VARCHAR},
      </if>
      <if test="operId != null" >
        OPER_ID = #{operId,jdbcType=DECIMAL},
      </if>
      <if test="operTime != null" >
        OPER_TIME = #{operTime,jdbcType=TIMESTAMP},
      </if>
      <if test="supplierId != null" >
        SUPPLIER_ID = #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="routeGroupType != null" >
        ROUTE_GROUP_TYPE = #{routeGroupType,jdbcType=CHAR},
      </if>
    </set>
    where ROUTE_GROUP_ID = #{routeGroupId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.slp.route.dao.mapper.bo.RouteGroup" >
    update route_group
    set TENANT_ID = #{tenantId,jdbcType=VARCHAR},
      ROUTE_GROUP_NAME = #{routeGroupName,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=VARCHAR},
      OPER_ID = #{operId,jdbcType=DECIMAL},
      OPER_TIME = #{operTime,jdbcType=TIMESTAMP},
      SUPPLIER_ID = #{supplierId,jdbcType=VARCHAR},
      ROUTE_GROUP_TYPE = #{routeGroupType,jdbcType=CHAR}
    where ROUTE_GROUP_ID = #{routeGroupId,jdbcType=VARCHAR}
  </update>
</mapper>