<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.runner.center.pay.dao.mapper.interfaces.PayCenterLogStateMapper" >
  <resultMap id="BaseResultMap" type="com.ai.runner.center.pay.dao.mapper.bo.PayCenterLogState" >
    <result column="pay_id" property="payId" jdbcType="BIGINT" />
    <result column="tenant_id" property="tenantId" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="batch_no" property="batchNo" jdbcType="VARCHAR" />
    <result column="ori_order_id" property="oriOrderId" jdbcType="VARCHAR" />
    <result column="trade_order_id" property="tradeOrderId" jdbcType="VARCHAR" />
    <result column="subject" property="subject" jdbcType="VARCHAR" />
    <result column="request_source" property="requestSource" jdbcType="VARCHAR" />
    <result column="pay_request_type" property="payRequestType" jdbcType="INTEGER" />
    <result column="pay_amount" property="payAmount" jdbcType="BIGINT" />
    <result column="CURRENCY_UNIT" property="currencyUnit" jdbcType="VARCHAR" />
    <result column="pay_org_id" property="payOrgId" jdbcType="VARCHAR" />
    <result column="pay_org_serial" property="payOrgSerial" jdbcType="VARCHAR" />
    <result column="buyer_email" property="buyerEmail" jdbcType="VARCHAR" />
    <result column="return_email" property="returnEmail" jdbcType="VARCHAR" />
    <result column="draw_email" property="drawEmail" jdbcType="VARCHAR" />
    <result column="notify_url" property="notifyUrl" jdbcType="VARCHAR" />
    <result column="return_url" property="returnUrl" jdbcType="VARCHAR" />
    <result column="merchant_url" property="merchantUrl" jdbcType="VARCHAR" />
    <result column="notify_id" property="notifyId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="status_chg_time" property="statusChgTime" jdbcType="TIMESTAMP" />
    <result column="check_status" property="checkStatus" jdbcType="INTEGER" />
    <result column="check_time" property="checkTime" jdbcType="TIMESTAMP" />
    <result column="service_num" property="serviceNum" jdbcType="VARCHAR" />
    <result column="detail_data" property="detailData" jdbcType="VARCHAR" />
    <result column="send_detail_data" property="sendDetailData" jdbcType="VARCHAR" />
    <result column="receive_detail_data" property="receiveDetailData" jdbcType="VARCHAR" />
    <result column="reserved1" property="reserved1" jdbcType="VARCHAR" />
    <result column="reserved2" property="reserved2" jdbcType="VARCHAR" />
    <result column="reserved3" property="reserved3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    pay_id, tenant_id, order_id, batch_no, ori_order_id, trade_order_id, subject, request_source, 
    pay_request_type, pay_amount, CURRENCY_UNIT, pay_org_id, pay_org_serial, buyer_email, 
    return_email, draw_email, notify_url, return_url, merchant_url, notify_id, create_time, 
    status, status_chg_time, check_status, check_time, service_num, detail_data, send_detail_data, 
    receive_detail_data, reserved1, reserved2, reserved3
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.runner.center.pay.dao.mapper.bo.PayCenterLogStateCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from pay_center_log_state
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.ai.runner.center.pay.dao.mapper.bo.PayCenterLogStateCriteria" >
    delete from pay_center_log_state
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.runner.center.pay.dao.mapper.bo.PayCenterLogState" >
    insert into pay_center_log_state (pay_id, tenant_id, order_id, 
      batch_no, ori_order_id, trade_order_id, 
      subject, request_source, pay_request_type, 
      pay_amount, CURRENCY_UNIT, pay_org_id, 
      pay_org_serial, buyer_email, return_email, 
      draw_email, notify_url, return_url, 
      merchant_url, notify_id, create_time, 
      status, status_chg_time, check_status, 
      check_time, service_num, detail_data, 
      send_detail_data, receive_detail_data, reserved1, 
      reserved2, reserved3)
    values (#{payId,jdbcType=BIGINT}, #{tenantId,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, 
      #{batchNo,jdbcType=VARCHAR}, #{oriOrderId,jdbcType=VARCHAR}, #{tradeOrderId,jdbcType=VARCHAR}, 
      #{subject,jdbcType=VARCHAR}, #{requestSource,jdbcType=VARCHAR}, #{payRequestType,jdbcType=INTEGER}, 
      #{payAmount,jdbcType=BIGINT}, #{currencyUnit,jdbcType=VARCHAR}, #{payOrgId,jdbcType=VARCHAR}, 
      #{payOrgSerial,jdbcType=VARCHAR}, #{buyerEmail,jdbcType=VARCHAR}, #{returnEmail,jdbcType=VARCHAR}, 
      #{drawEmail,jdbcType=VARCHAR}, #{notifyUrl,jdbcType=VARCHAR}, #{returnUrl,jdbcType=VARCHAR}, 
      #{merchantUrl,jdbcType=VARCHAR}, #{notifyId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER}, #{statusChgTime,jdbcType=TIMESTAMP}, #{checkStatus,jdbcType=INTEGER}, 
      #{checkTime,jdbcType=TIMESTAMP}, #{serviceNum,jdbcType=VARCHAR}, #{detailData,jdbcType=VARCHAR}, 
      #{sendDetailData,jdbcType=VARCHAR}, #{receiveDetailData,jdbcType=VARCHAR}, #{reserved1,jdbcType=VARCHAR}, 
      #{reserved2,jdbcType=VARCHAR}, #{reserved3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.runner.center.pay.dao.mapper.bo.PayCenterLogState" >
    insert into pay_center_log_state
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="payId != null" >
        pay_id,
      </if>
      <if test="tenantId != null" >
        tenant_id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="batchNo != null" >
        batch_no,
      </if>
      <if test="oriOrderId != null" >
        ori_order_id,
      </if>
      <if test="tradeOrderId != null" >
        trade_order_id,
      </if>
      <if test="subject != null" >
        subject,
      </if>
      <if test="requestSource != null" >
        request_source,
      </if>
      <if test="payRequestType != null" >
        pay_request_type,
      </if>
      <if test="payAmount != null" >
        pay_amount,
      </if>
      <if test="currencyUnit != null" >
        CURRENCY_UNIT,
      </if>
      <if test="payOrgId != null" >
        pay_org_id,
      </if>
      <if test="payOrgSerial != null" >
        pay_org_serial,
      </if>
      <if test="buyerEmail != null" >
        buyer_email,
      </if>
      <if test="returnEmail != null" >
        return_email,
      </if>
      <if test="drawEmail != null" >
        draw_email,
      </if>
      <if test="notifyUrl != null" >
        notify_url,
      </if>
      <if test="returnUrl != null" >
        return_url,
      </if>
      <if test="merchantUrl != null" >
        merchant_url,
      </if>
      <if test="notifyId != null" >
        notify_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="statusChgTime != null" >
        status_chg_time,
      </if>
      <if test="checkStatus != null" >
        check_status,
      </if>
      <if test="checkTime != null" >
        check_time,
      </if>
      <if test="serviceNum != null" >
        service_num,
      </if>
      <if test="detailData != null" >
        detail_data,
      </if>
      <if test="sendDetailData != null" >
        send_detail_data,
      </if>
      <if test="receiveDetailData != null" >
        receive_detail_data,
      </if>
      <if test="reserved1 != null" >
        reserved1,
      </if>
      <if test="reserved2 != null" >
        reserved2,
      </if>
      <if test="reserved3 != null" >
        reserved3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="payId != null" >
        #{payId,jdbcType=BIGINT},
      </if>
      <if test="tenantId != null" >
        #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="batchNo != null" >
        #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="oriOrderId != null" >
        #{oriOrderId,jdbcType=VARCHAR},
      </if>
      <if test="tradeOrderId != null" >
        #{tradeOrderId,jdbcType=VARCHAR},
      </if>
      <if test="subject != null" >
        #{subject,jdbcType=VARCHAR},
      </if>
      <if test="requestSource != null" >
        #{requestSource,jdbcType=VARCHAR},
      </if>
      <if test="payRequestType != null" >
        #{payRequestType,jdbcType=INTEGER},
      </if>
      <if test="payAmount != null" >
        #{payAmount,jdbcType=BIGINT},
      </if>
      <if test="currencyUnit != null" >
        #{currencyUnit,jdbcType=VARCHAR},
      </if>
      <if test="payOrgId != null" >
        #{payOrgId,jdbcType=VARCHAR},
      </if>
      <if test="payOrgSerial != null" >
        #{payOrgSerial,jdbcType=VARCHAR},
      </if>
      <if test="buyerEmail != null" >
        #{buyerEmail,jdbcType=VARCHAR},
      </if>
      <if test="returnEmail != null" >
        #{returnEmail,jdbcType=VARCHAR},
      </if>
      <if test="drawEmail != null" >
        #{drawEmail,jdbcType=VARCHAR},
      </if>
      <if test="notifyUrl != null" >
        #{notifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="returnUrl != null" >
        #{returnUrl,jdbcType=VARCHAR},
      </if>
      <if test="merchantUrl != null" >
        #{merchantUrl,jdbcType=VARCHAR},
      </if>
      <if test="notifyId != null" >
        #{notifyId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="statusChgTime != null" >
        #{statusChgTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkStatus != null" >
        #{checkStatus,jdbcType=INTEGER},
      </if>
      <if test="checkTime != null" >
        #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="serviceNum != null" >
        #{serviceNum,jdbcType=VARCHAR},
      </if>
      <if test="detailData != null" >
        #{detailData,jdbcType=VARCHAR},
      </if>
      <if test="sendDetailData != null" >
        #{sendDetailData,jdbcType=VARCHAR},
      </if>
      <if test="receiveDetailData != null" >
        #{receiveDetailData,jdbcType=VARCHAR},
      </if>
      <if test="reserved1 != null" >
        #{reserved1,jdbcType=VARCHAR},
      </if>
      <if test="reserved2 != null" >
        #{reserved2,jdbcType=VARCHAR},
      </if>
      <if test="reserved3 != null" >
        #{reserved3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.runner.center.pay.dao.mapper.bo.PayCenterLogStateCriteria" resultType="java.lang.Integer" >
    select count(*) from pay_center_log_state
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update pay_center_log_state
    <set >
      <if test="record.payId != null" >
        pay_id = #{record.payId,jdbcType=BIGINT},
      </if>
      <if test="record.tenantId != null" >
        tenant_id = #{record.tenantId,jdbcType=VARCHAR},
      </if>
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.batchNo != null" >
        batch_no = #{record.batchNo,jdbcType=VARCHAR},
      </if>
      <if test="record.oriOrderId != null" >
        ori_order_id = #{record.oriOrderId,jdbcType=VARCHAR},
      </if>
      <if test="record.tradeOrderId != null" >
        trade_order_id = #{record.tradeOrderId,jdbcType=VARCHAR},
      </if>
      <if test="record.subject != null" >
        subject = #{record.subject,jdbcType=VARCHAR},
      </if>
      <if test="record.requestSource != null" >
        request_source = #{record.requestSource,jdbcType=VARCHAR},
      </if>
      <if test="record.payRequestType != null" >
        pay_request_type = #{record.payRequestType,jdbcType=INTEGER},
      </if>
      <if test="record.payAmount != null" >
        pay_amount = #{record.payAmount,jdbcType=BIGINT},
      </if>
      <if test="record.currencyUnit != null" >
        CURRENCY_UNIT = #{record.currencyUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.payOrgId != null" >
        pay_org_id = #{record.payOrgId,jdbcType=VARCHAR},
      </if>
      <if test="record.payOrgSerial != null" >
        pay_org_serial = #{record.payOrgSerial,jdbcType=VARCHAR},
      </if>
      <if test="record.buyerEmail != null" >
        buyer_email = #{record.buyerEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.returnEmail != null" >
        return_email = #{record.returnEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.drawEmail != null" >
        draw_email = #{record.drawEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.notifyUrl != null" >
        notify_url = #{record.notifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.returnUrl != null" >
        return_url = #{record.returnUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.merchantUrl != null" >
        merchant_url = #{record.merchantUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.notifyId != null" >
        notify_id = #{record.notifyId,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.statusChgTime != null" >
        status_chg_time = #{record.statusChgTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.checkStatus != null" >
        check_status = #{record.checkStatus,jdbcType=INTEGER},
      </if>
      <if test="record.checkTime != null" >
        check_time = #{record.checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.serviceNum != null" >
        service_num = #{record.serviceNum,jdbcType=VARCHAR},
      </if>
      <if test="record.detailData != null" >
        detail_data = #{record.detailData,jdbcType=VARCHAR},
      </if>
      <if test="record.sendDetailData != null" >
        send_detail_data = #{record.sendDetailData,jdbcType=VARCHAR},
      </if>
      <if test="record.receiveDetailData != null" >
        receive_detail_data = #{record.receiveDetailData,jdbcType=VARCHAR},
      </if>
      <if test="record.reserved1 != null" >
        reserved1 = #{record.reserved1,jdbcType=VARCHAR},
      </if>
      <if test="record.reserved2 != null" >
        reserved2 = #{record.reserved2,jdbcType=VARCHAR},
      </if>
      <if test="record.reserved3 != null" >
        reserved3 = #{record.reserved3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update pay_center_log_state
    set pay_id = #{record.payId,jdbcType=BIGINT},
      tenant_id = #{record.tenantId,jdbcType=VARCHAR},
      order_id = #{record.orderId,jdbcType=VARCHAR},
      batch_no = #{record.batchNo,jdbcType=VARCHAR},
      ori_order_id = #{record.oriOrderId,jdbcType=VARCHAR},
      trade_order_id = #{record.tradeOrderId,jdbcType=VARCHAR},
      subject = #{record.subject,jdbcType=VARCHAR},
      request_source = #{record.requestSource,jdbcType=VARCHAR},
      pay_request_type = #{record.payRequestType,jdbcType=INTEGER},
      pay_amount = #{record.payAmount,jdbcType=BIGINT},
      CURRENCY_UNIT = #{record.currencyUnit,jdbcType=VARCHAR},
      pay_org_id = #{record.payOrgId,jdbcType=VARCHAR},
      pay_org_serial = #{record.payOrgSerial,jdbcType=VARCHAR},
      buyer_email = #{record.buyerEmail,jdbcType=VARCHAR},
      return_email = #{record.returnEmail,jdbcType=VARCHAR},
      draw_email = #{record.drawEmail,jdbcType=VARCHAR},
      notify_url = #{record.notifyUrl,jdbcType=VARCHAR},
      return_url = #{record.returnUrl,jdbcType=VARCHAR},
      merchant_url = #{record.merchantUrl,jdbcType=VARCHAR},
      notify_id = #{record.notifyId,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=INTEGER},
      status_chg_time = #{record.statusChgTime,jdbcType=TIMESTAMP},
      check_status = #{record.checkStatus,jdbcType=INTEGER},
      check_time = #{record.checkTime,jdbcType=TIMESTAMP},
      service_num = #{record.serviceNum,jdbcType=VARCHAR},
      detail_data = #{record.detailData,jdbcType=VARCHAR},
      send_detail_data = #{record.sendDetailData,jdbcType=VARCHAR},
      receive_detail_data = #{record.receiveDetailData,jdbcType=VARCHAR},
      reserved1 = #{record.reserved1,jdbcType=VARCHAR},
      reserved2 = #{record.reserved2,jdbcType=VARCHAR},
      reserved3 = #{record.reserved3,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>