# Ignore Gradle GUI config
gradle-app.setting

# IDE config
.settings/
*.iml

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
# Package Files #
*.jar
*.war
*.ear
*.class

# Cache of project
.gradle
.gradletasknamecache
.classpath
.project

bin/
build/
logs/