<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.opt.sol.dao.mapper.interfaces.SolServiceVersionMapper" >
  <resultMap id="BaseResultMap" type="com.ai.opt.sol.dao.mapper.bo.SolServiceVersion" >
    <id column="SRV_VERSION_ID" property="srvVersionId" jdbcType="VARCHAR" />
    <result column="SRV_API_ID" property="srvApiId" jdbcType="VARCHAR" />
    <result column="SRV_VERSION" property="srvVersion" jdbcType="VARCHAR" />
    <result column="VERSION_REMARK" property="versionRemark" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SRV_VERSION_ID, SRV_API_ID, SRV_VERSION, VERSION_REMARK, CREATE_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.opt.sol.dao.mapper.bo.SolServiceVersionCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from sol_service_version
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sol_service_version
    where SRV_VERSION_ID = #{srvVersionId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sol_service_version
    where SRV_VERSION_ID = #{srvVersionId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.opt.sol.dao.mapper.bo.SolServiceVersionCriteria" >
    delete from sol_service_version
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.opt.sol.dao.mapper.bo.SolServiceVersion" >
    insert into sol_service_version (SRV_VERSION_ID, SRV_API_ID, SRV_VERSION, 
      VERSION_REMARK, CREATE_TIME)
    values (#{srvVersionId,jdbcType=VARCHAR}, #{srvApiId,jdbcType=VARCHAR}, #{srvVersion,jdbcType=VARCHAR}, 
      #{versionRemark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.opt.sol.dao.mapper.bo.SolServiceVersion" >
    insert into sol_service_version
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="srvVersionId != null" >
        SRV_VERSION_ID,
      </if>
      <if test="srvApiId != null" >
        SRV_API_ID,
      </if>
      <if test="srvVersion != null" >
        SRV_VERSION,
      </if>
      <if test="versionRemark != null" >
        VERSION_REMARK,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="srvVersionId != null" >
        #{srvVersionId,jdbcType=VARCHAR},
      </if>
      <if test="srvApiId != null" >
        #{srvApiId,jdbcType=VARCHAR},
      </if>
      <if test="srvVersion != null" >
        #{srvVersion,jdbcType=VARCHAR},
      </if>
      <if test="versionRemark != null" >
        #{versionRemark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.opt.sol.dao.mapper.bo.SolServiceVersionCriteria" resultType="java.lang.Integer" >
    select count(*) from sol_service_version
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sol_service_version
    <set >
      <if test="record.srvVersionId != null" >
        SRV_VERSION_ID = #{record.srvVersionId,jdbcType=VARCHAR},
      </if>
      <if test="record.srvApiId != null" >
        SRV_API_ID = #{record.srvApiId,jdbcType=VARCHAR},
      </if>
      <if test="record.srvVersion != null" >
        SRV_VERSION = #{record.srvVersion,jdbcType=VARCHAR},
      </if>
      <if test="record.versionRemark != null" >
        VERSION_REMARK = #{record.versionRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sol_service_version
    set SRV_VERSION_ID = #{record.srvVersionId,jdbcType=VARCHAR},
      SRV_API_ID = #{record.srvApiId,jdbcType=VARCHAR},
      SRV_VERSION = #{record.srvVersion,jdbcType=VARCHAR},
      VERSION_REMARK = #{record.versionRemark,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.opt.sol.dao.mapper.bo.SolServiceVersion" >
    update sol_service_version
    <set >
      <if test="srvApiId != null" >
        SRV_API_ID = #{srvApiId,jdbcType=VARCHAR},
      </if>
      <if test="srvVersion != null" >
        SRV_VERSION = #{srvVersion,jdbcType=VARCHAR},
      </if>
      <if test="versionRemark != null" >
        VERSION_REMARK = #{versionRemark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where SRV_VERSION_ID = #{srvVersionId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.opt.sol.dao.mapper.bo.SolServiceVersion" >
    update sol_service_version
    set SRV_API_ID = #{srvApiId,jdbcType=VARCHAR},
      SRV_VERSION = #{srvVersion,jdbcType=VARCHAR},
      VERSION_REMARK = #{versionRemark,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where SRV_VERSION_ID = #{srvVersionId,jdbcType=VARCHAR}
  </update>
</mapper>