/* Flickity
------------------------- */
.container{
	 width:100%; min-width:1200px;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}
.flickity-enabled {
  position: relative;
}
button.next{ display:none;}
button.previous{ display:none;}
.flickity-enabled:focus { outline: none; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.flickity-slider {
  position: absolute;
  width: 100%;
}

/* ---- previous/next buttons ---- */


/* ---- page dots ---- */

.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom:55px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-page-dots .dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 8px;
  background: #683a0b;
  border-radius: 50%;
  opacity: 0.55;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected { opacity: 1; }


h2 {
  font-size: 2.4em;
  border-top: 4px double #DDD;
  padding-top: 60px;
  margin-top: 80px;
}

h3 {
  font-family: 'Texta Heavy', sans-serif;
  font-size: 1.6em;
}

/* ---- content ---- */

.content-wrap {
  width:1200px; min-width:1200px;
  margin: 0 auto;
  
}

/* ---- main ---- */

.main h2 {
  border-top: 4px double #DDD;
  padding-top: 60px;
  margin-top: 80px;
}

.main h3 {
  border-top: 1px solid #DDD;
  padding-top: 30px;
}

/* hero-gallery
------------------------- */

.hero-gallery {
  height:460px;

  background-size: cover;
}

.hero-gallery__cell {
  width: 100%; min-width:1200px;
 height: 460px;
  color: white;
  background: url(../images/bj1.png) no-repeat;
  
}

.hero-gallery h1 {
  font-size: 3.2em;
  padding-top: 20px;
  margin: 0;
}

.hero-gallery .tagline {
  font-size: 1.4em;
  margin: 0;
}

.hero-gallery__cell--2 {
  background: #eff8ff;
}





.hero-gallery__cell--3 {
  background: #E90;
}

.hero-gallery__cell--4 {
  background: #E5A;
}

.by-line {
  line-height: 1.2;
  margin: 0;
  font-size: 1.8em;
}

.by-line--made {
  padding-top: 20px;
  margin-bottom: 10px;
  color: #333;
}

.by-line--made b { font-family: 'Texta Heavy', sans-serif; }

/* ---- big-links ---- */

.big-links {
  list-style: none;
  margin: 0 0 60px;
  padding: 0;
}

.big-links:after {
  content: '';
  display: block;
  clear: both;
}


.big-links__item {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.big-links__item a {
  display: block;
  padding: 10px;
  border-radius: 5px;
}

.big-links__item--fill a {
  background: #8C8;
  color: white;
}

.big-links__item--fill a:hover {
  background: #EC5;
}

.big-links__item--stroke a {
  border: 2px solid #8C8;
}

.big-links__item--stroke a:hover { border-color: #EC5; }


.big-links__link {
}

.big-links__link:hover {
  background: #EC5;
  color: white;
}

/* ---- call-out ---- */

.call-out {
  border: 2px solid #ED2;
  padding: 10px 20px 10px 80px;
  border-radius: 6px;
  position: relative;
  margin: 20px 0;
}

.call-out:before {
  content: 'i';
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 20px;
  top: 30px;
  background: #ED2;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-size: 1.9em;
  font-family: Consolas, Georgia, serif;
  font-style: italic;
  line-height: 46px;
}

.call-out h2 {
  margin-top: 0;
  padding-top: 10px;
  border-top: none;
}

.call-out--beta-testing p,
.call-out--beta-testing li {
  font-size: 1.2em;
}

.call-out--beta-testing p { line-height: 1.3; }

.call-out--chill { border-color: #8C8; }
.call-out--chill:before { background: #8C8; }

.quick-start p,
.quick-start li:before {
  font-size: 1.2em;
  line-height: 1.2;
}

.quick-start ol {
  list-style: none;
}

.quick-start li {
  position: relative;
  counter-increment: quick-start-item;
}

.quick-start li:before {
  content: counter(quick-start-item) ".";
  position: absolute;
  left: -1.2em;
  font-size: 1.2em;
  font-weight: bold;
  font-family: 'Texta Heavy', sans-serif;
}

/* example
------------------------- */

.example {
  margin-bottom: 40px;
}

.example:after {
  content: '';
  display: block;
  clear: both;
}

.example__code pre { margin: 0 0 20px; }

/* demo galleries
------------------------- */

.gallery {
  background: #FAFAFA;
  margin-bottom: 30px;
  counter-reset: gallery-cell;
}

.gallery-cell {
  width: 100%;
  height: 160px;
  background: #8C8;
  counter-increment: gallery-cell;
}

/*.gallery-cell:nth-child(5n+2) { background: #6A6; }
.gallery-cell:nth-child(5n+3) { background: #E8A; }
.gallery-cell:nth-child(5n+4) { background: #FD0; }
.gallery-cell:nth-child(5n) { background: #66A; }*/

/*.gallery-cell:nth-child(3n+2) { background: #ED2; }
.gallery-cell:nth-child(3n+0) { background: #E90; }*/

.gallery-cell:before {
  content: counter(gallery-cell);
  display: block;
  text-align: center;
  line-height: 160px;
  font-size: 80px;
  font-weight: bold;
  color: white;
}

/*.gallery-cell:nth-child(5n+1):before { color: #868; }
.gallery-cell:nth-child(5n+2):before { color: #875; }
.gallery-cell:nth-child(5n+3):before { color: #686; }
.gallery-cell:nth-child(5n+4):before { color: #588; }
.gallery-cell:nth-child(5n):before { color: #668; }*/

.gallery--margin .gallery-cell {
  margin-right: 10px;
}

.half-width-margin .gallery-cell {
  width: 50%;
  margin-right: 10px;
}

.various-size .gallery-cell {
  width: 33%;
  margin-right: 10px;
}
.various-size .gallery-cell.size-180 { width: 180px; }
.various-size .gallery-cell.size-large { width: 75%; }

.media-queried .gallery-cell {
  width: 100%;
  margin-right: 2%;
}

.show-neighbors .gallery-cell {
  width: 66%;
  margin: 0 5px;
}

.gallery--contain-demo .gallery-cell {
  width: 30%;
  margin-right: 2%;
}

.gallery--auto-play-demo .gallery-cell { margin-right: 2%; }

.gallery--images-loaded-demo img {
  display: block;
  height: 160px;
}

.gallery--images-demo {
  margin-bottom: 40px;
}

.gallery--images-demo img {
  display: block;
  height: 160px;
}


.gallery--watch-demo:after {
  content: 'flickity';
  display: none;
}

.gallery--watch-demo .gallery-cell {
  margin-right: 10px;
}

/* prev/next demos
------------------------- */


/* page-dot demos
------------------------- */

/* ---- o dots ---- */

.gallery--o-dots .flickity-page-dots {
  bottom: 0px;
}

.gallery--o-dots .flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}

.gallery--o-dots .flickity-page-dots .dot.is-selected {
  background: white;
}

/* ---- line-dots ---- */

.gallery--line-dots .flickity-page-dots {
  bottom: -22px;
}

.gallery--line-dots .flickity-page-dots .dot {
  height: 4px;
  width: 40px;
  margin: 0;
  border-radius: 0;
}

/* site-footer
------------------------- */

.site-footer {
  margin-top: 80px;
  background: #FAFAFA;
  padding: 40px 0 ;
}

.site-footer p {
  font-size: 1.2em;
}

.other-products:after {
  content: '';
  display: block;
  clear: both;
}

.other-products__cell a {
  display: block;
  position: relative;
  padding: 10px 10px 10px 135px;;
  border-radius: 6px;
  margin-bottom: 20px;
  min-height: 120px;
  background: #EEE;
}

.other-products__cell a:hover {
  background: #8C8;
  color: white;
}

.other-products__cell img {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  max-width: 120px;
  border-radius: 5px 0 0 5px;
}

.other-products__cell h3 {
  margin: 0 0 0px;
}

.other-products__cell .description {
  font-size: 1.1em;
  line-height: 1.2;
  margin: 0;
}



