<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.slp.order.dao.mapper.interfaces.OrdOdLogisticsMapper" >
  <resultMap id="BaseResultMap" type="com.ai.slp.order.dao.mapper.bo.OrdOdLogistics" >
    <id column="LOGISTICS_ID" property="logisticsId" jdbcType="BIGINT" />
    <result column="TENANT_ID" property="tenantId" jdbcType="VARCHAR" />
    <result column="ORDER_ID" property="orderId" jdbcType="BIGINT" />
    <result column="LOGISTICS_TYPE" property="logisticsType" jdbcType="VARCHAR" />
    <result column="EXPRESS_ODD_NUMBER" property="expressOddNumber" jdbcType="VARCHAR" />
    <result column="CONTACT_COMPANY" property="contactCompany" jdbcType="VARCHAR" />
    <result column="CONTACT_NAME" property="contactName" jdbcType="VARCHAR" />
    <result column="CONTACT_TEL" property="contactTel" jdbcType="VARCHAR" />
    <result column="CONTACT_EMAIL" property="contactEmail" jdbcType="VARCHAR" />
    <result column="PROVINCE_CODE" property="provinceCode" jdbcType="VARCHAR" />
    <result column="CITY_CODE" property="cityCode" jdbcType="VARCHAR" />
    <result column="COUNTY_CODE" property="countyCode" jdbcType="VARCHAR" />
    <result column="POSTCODE" property="postcode" jdbcType="VARCHAR" />
    <result column="AREA_CODE" property="areaCode" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="EXPRESS_ID" property="expressId" jdbcType="VARCHAR" />
    <result column="EXPRESS_SELF_ID" property="expressSelfId" jdbcType="VARCHAR" />
    <result column="LOGISTICS_TIME_ID" property="logisticsTimeId" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    LOGISTICS_ID, TENANT_ID, ORDER_ID, LOGISTICS_TYPE, EXPRESS_ODD_NUMBER, CONTACT_COMPANY, 
    CONTACT_NAME, CONTACT_TEL, CONTACT_EMAIL, PROVINCE_CODE, CITY_CODE, COUNTY_CODE, 
    POSTCODE, AREA_CODE, ADDRESS, EXPRESS_ID, EXPRESS_SELF_ID, LOGISTICS_TIME_ID, REMARK
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.slp.order.dao.mapper.bo.OrdOdLogisticsCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from ord_od_logistics
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="long" >
    select 
    <include refid="Base_Column_List" />
    from ord_od_logistics
    where LOGISTICS_ID = #{logisticsId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="long" >
    delete from ord_od_logistics
    where LOGISTICS_ID = #{logisticsId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.slp.order.dao.mapper.bo.OrdOdLogisticsCriteria" >
    delete from ord_od_logistics
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.slp.order.dao.mapper.bo.OrdOdLogistics" >
    insert into ord_od_logistics (LOGISTICS_ID, TENANT_ID, ORDER_ID, 
      LOGISTICS_TYPE, EXPRESS_ODD_NUMBER, CONTACT_COMPANY, 
      CONTACT_NAME, CONTACT_TEL, CONTACT_EMAIL, 
      PROVINCE_CODE, CITY_CODE, COUNTY_CODE, 
      POSTCODE, AREA_CODE, ADDRESS, 
      EXPRESS_ID, EXPRESS_SELF_ID, LOGISTICS_TIME_ID, 
      REMARK)
    values (#{logisticsId,jdbcType=BIGINT}, #{tenantId,jdbcType=VARCHAR}, #{orderId,jdbcType=BIGINT}, 
      #{logisticsType,jdbcType=VARCHAR}, #{expressOddNumber,jdbcType=VARCHAR}, #{contactCompany,jdbcType=VARCHAR}, 
      #{contactName,jdbcType=VARCHAR}, #{contactTel,jdbcType=VARCHAR}, #{contactEmail,jdbcType=VARCHAR}, 
      #{provinceCode,jdbcType=VARCHAR}, #{cityCode,jdbcType=VARCHAR}, #{countyCode,jdbcType=VARCHAR}, 
      #{postcode,jdbcType=VARCHAR}, #{areaCode,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{expressId,jdbcType=VARCHAR}, #{expressSelfId,jdbcType=VARCHAR}, #{logisticsTimeId,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.slp.order.dao.mapper.bo.OrdOdLogistics" >
    insert delayed into ord_od_logistics
    <trim prefix="(" suffix=")" suffixOverrides="," >
      LOGISTICS_ID,
      <if test="tenantId != null" >
        TENANT_ID,
      </if>
      ORDER_ID,
      <if test="logisticsType != null" >
        LOGISTICS_TYPE,
      </if>
      <if test="expressOddNumber != null" >
        EXPRESS_ODD_NUMBER,
      </if>
      <if test="contactCompany != null" >
        CONTACT_COMPANY,
      </if>
      <if test="contactName != null" >
        CONTACT_NAME,
      </if>
      <if test="contactTel != null" >
        CONTACT_TEL,
      </if>
      <if test="contactEmail != null" >
        CONTACT_EMAIL,
      </if>
      <if test="provinceCode != null" >
        PROVINCE_CODE,
      </if>
      <if test="cityCode != null" >
        CITY_CODE,
      </if>
      <if test="countyCode != null" >
        COUNTY_CODE,
      </if>
      <if test="postcode != null" >
        POSTCODE,
      </if>
      <if test="areaCode != null" >
        AREA_CODE,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="expressId != null" >
        EXPRESS_ID,
      </if>
      <if test="expressSelfId != null" >
        EXPRESS_SELF_ID,
      </if>
      <if test="logisticsTimeId != null" >
        LOGISTICS_TIME_ID,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{logisticsId,jdbcType=BIGINT},
      <if test="tenantId != null" >
        #{tenantId,jdbcType=VARCHAR},
      </if>
      #{orderId,jdbcType=BIGINT},
      <if test="logisticsType != null" >
        #{logisticsType,jdbcType=VARCHAR},
      </if>
      <if test="expressOddNumber != null" >
        #{expressOddNumber,jdbcType=VARCHAR},
      </if>
      <if test="contactCompany != null" >
        #{contactCompany,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null" >
        #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="contactTel != null" >
        #{contactTel,jdbcType=VARCHAR},
      </if>
      <if test="contactEmail != null" >
        #{contactEmail,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null" >
        #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="countyCode != null" >
        #{countyCode,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null" >
        #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null" >
        #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="expressId != null" >
        #{expressId,jdbcType=VARCHAR},
      </if>
      <if test="expressSelfId != null" >
        #{expressSelfId,jdbcType=VARCHAR},
      </if>
      <if test="logisticsTimeId != null" >
        #{logisticsTimeId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.slp.order.dao.mapper.bo.OrdOdLogisticsCriteria" resultType="java.lang.Integer" >
    select count(*) from ord_od_logistics
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ord_od_logistics
    <set >
      <if test="record.logisticsId != null" >
        LOGISTICS_ID = #{record.logisticsId,jdbcType=BIGINT},
      </if>
      <if test="record.tenantId != null" >
        TENANT_ID = #{record.tenantId,jdbcType=VARCHAR},
      </if>
      <if test="record.orderId != null" >
        ORDER_ID = #{record.orderId,jdbcType=BIGINT},
      </if>
      <if test="record.logisticsType != null" >
        LOGISTICS_TYPE = #{record.logisticsType,jdbcType=VARCHAR},
      </if>
      <if test="record.expressOddNumber != null" >
        EXPRESS_ODD_NUMBER = #{record.expressOddNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.contactCompany != null" >
        CONTACT_COMPANY = #{record.contactCompany,jdbcType=VARCHAR},
      </if>
      <if test="record.contactName != null" >
        CONTACT_NAME = #{record.contactName,jdbcType=VARCHAR},
      </if>
      <if test="record.contactTel != null" >
        CONTACT_TEL = #{record.contactTel,jdbcType=VARCHAR},
      </if>
      <if test="record.contactEmail != null" >
        CONTACT_EMAIL = #{record.contactEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.provinceCode != null" >
        PROVINCE_CODE = #{record.provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="record.cityCode != null" >
        CITY_CODE = #{record.cityCode,jdbcType=VARCHAR},
      </if>
      <if test="record.countyCode != null" >
        COUNTY_CODE = #{record.countyCode,jdbcType=VARCHAR},
      </if>
      <if test="record.postcode != null" >
        POSTCODE = #{record.postcode,jdbcType=VARCHAR},
      </if>
      <if test="record.areaCode != null" >
        AREA_CODE = #{record.areaCode,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        ADDRESS = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.expressId != null" >
        EXPRESS_ID = #{record.expressId,jdbcType=VARCHAR},
      </if>
      <if test="record.expressSelfId != null" >
        EXPRESS_SELF_ID = #{record.expressSelfId,jdbcType=VARCHAR},
      </if>
      <if test="record.logisticsTimeId != null" >
        LOGISTICS_TIME_ID = #{record.logisticsTimeId,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ord_od_logistics
    set LOGISTICS_ID = #{record.logisticsId,jdbcType=BIGINT},
      TENANT_ID = #{record.tenantId,jdbcType=VARCHAR},
      ORDER_ID = #{record.orderId,jdbcType=BIGINT},
      LOGISTICS_TYPE = #{record.logisticsType,jdbcType=VARCHAR},
      EXPRESS_ODD_NUMBER = #{record.expressOddNumber,jdbcType=VARCHAR},
      CONTACT_COMPANY = #{record.contactCompany,jdbcType=VARCHAR},
      CONTACT_NAME = #{record.contactName,jdbcType=VARCHAR},
      CONTACT_TEL = #{record.contactTel,jdbcType=VARCHAR},
      CONTACT_EMAIL = #{record.contactEmail,jdbcType=VARCHAR},
      PROVINCE_CODE = #{record.provinceCode,jdbcType=VARCHAR},
      CITY_CODE = #{record.cityCode,jdbcType=VARCHAR},
      COUNTY_CODE = #{record.countyCode,jdbcType=VARCHAR},
      POSTCODE = #{record.postcode,jdbcType=VARCHAR},
      AREA_CODE = #{record.areaCode,jdbcType=VARCHAR},
      ADDRESS = #{record.address,jdbcType=VARCHAR},
      EXPRESS_ID = #{record.expressId,jdbcType=VARCHAR},
      EXPRESS_SELF_ID = #{record.expressSelfId,jdbcType=VARCHAR},
      LOGISTICS_TIME_ID = #{record.logisticsTimeId,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.slp.order.dao.mapper.bo.OrdOdLogistics" >
    update ord_od_logistics
    <set >
      <if test="tenantId != null" >
        TENANT_ID = #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        ORDER_ID = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="logisticsType != null" >
        LOGISTICS_TYPE = #{logisticsType,jdbcType=VARCHAR},
      </if>
      <if test="expressOddNumber != null" >
        EXPRESS_ODD_NUMBER = #{expressOddNumber,jdbcType=VARCHAR},
      </if>
      <if test="contactCompany != null" >
        CONTACT_COMPANY = #{contactCompany,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null" >
        CONTACT_NAME = #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="contactTel != null" >
        CONTACT_TEL = #{contactTel,jdbcType=VARCHAR},
      </if>
      <if test="contactEmail != null" >
        CONTACT_EMAIL = #{contactEmail,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null" >
        PROVINCE_CODE = #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        CITY_CODE = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="countyCode != null" >
        COUNTY_CODE = #{countyCode,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null" >
        POSTCODE = #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null" >
        AREA_CODE = #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="expressId != null" >
        EXPRESS_ID = #{expressId,jdbcType=VARCHAR},
      </if>
      <if test="expressSelfId != null" >
        EXPRESS_SELF_ID = #{expressSelfId,jdbcType=VARCHAR},
      </if>
      <if test="logisticsTimeId != null" >
        LOGISTICS_TIME_ID = #{logisticsTimeId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where LOGISTICS_ID = #{logisticsId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.slp.order.dao.mapper.bo.OrdOdLogistics" >
    update ord_od_logistics
    set TENANT_ID = #{tenantId,jdbcType=VARCHAR},
      ORDER_ID = #{orderId,jdbcType=BIGINT},
      LOGISTICS_TYPE = #{logisticsType,jdbcType=VARCHAR},
      EXPRESS_ODD_NUMBER = #{expressOddNumber,jdbcType=VARCHAR},
      CONTACT_COMPANY = #{contactCompany,jdbcType=VARCHAR},
      CONTACT_NAME = #{contactName,jdbcType=VARCHAR},
      CONTACT_TEL = #{contactTel,jdbcType=VARCHAR},
      CONTACT_EMAIL = #{contactEmail,jdbcType=VARCHAR},
      PROVINCE_CODE = #{provinceCode,jdbcType=VARCHAR},
      CITY_CODE = #{cityCode,jdbcType=VARCHAR},
      COUNTY_CODE = #{countyCode,jdbcType=VARCHAR},
      POSTCODE = #{postcode,jdbcType=VARCHAR},
      AREA_CODE = #{areaCode,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      EXPRESS_ID = #{expressId,jdbcType=VARCHAR},
      EXPRESS_SELF_ID = #{expressSelfId,jdbcType=VARCHAR},
      LOGISTICS_TIME_ID = #{logisticsTimeId,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR}
    where LOGISTICS_ID = #{logisticsId,jdbcType=BIGINT}
  </update>
</mapper>