<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.slp.product.dao.mapper.interfaces.storage.SkuStorageMapper" >
  <resultMap id="BaseResultMap" type="com.ai.slp.product.dao.mapper.bo.storage.SkuStorage" >
    <id column="SKU_STORAGE_ID" property="skuStorageId" jdbcType="VARCHAR" />
    <result column="SKU_ID" property="skuId" jdbcType="VARCHAR" />
    <result column="STORAGE_ID" property="storageId" jdbcType="VARCHAR" />
    <result column="SALE_PRICE" property="salePrice" jdbcType="DECIMAL" />
    <result column="TOTAL_NUM" property="totalNum" jdbcType="DECIMAL" />
    <result column="USABLE_NUM" property="usableNum" jdbcType="DECIMAL" />
    <result column="STATE" property="state" jdbcType="VARCHAR" />
    <result column="OPER_ID" property="operId" jdbcType="DECIMAL" />
    <result column="OPER_TIME" property="operTime" jdbcType="TIMESTAMP" />
    <result column="STORAGE_GROUP_ID" property="storageGroupId" jdbcType="VARCHAR" />
    <result column="PRIORITY_NUMBER" property="priorityNumber" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SKU_STORAGE_ID, SKU_ID, STORAGE_ID, SALE_PRICE, TOTAL_NUM, USABLE_NUM, STATE, OPER_ID, 
    OPER_TIME, STORAGE_GROUP_ID, PRIORITY_NUMBER
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.slp.product.dao.mapper.bo.storage.SkuStorageCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from sku_storage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sku_storage
    where SKU_STORAGE_ID = #{skuStorageId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sku_storage
    where SKU_STORAGE_ID = #{skuStorageId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.slp.product.dao.mapper.bo.storage.SkuStorageCriteria" >
    delete from sku_storage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.slp.product.dao.mapper.bo.storage.SkuStorage" >
    insert into sku_storage (SKU_STORAGE_ID, SKU_ID, STORAGE_ID, 
      SALE_PRICE, TOTAL_NUM, USABLE_NUM, 
      STATE, OPER_ID, OPER_TIME, 
      STORAGE_GROUP_ID, PRIORITY_NUMBER)
    values (#{skuStorageId,jdbcType=VARCHAR}, #{skuId,jdbcType=VARCHAR}, #{storageId,jdbcType=VARCHAR}, 
      #{salePrice,jdbcType=DECIMAL}, #{totalNum,jdbcType=DECIMAL}, #{usableNum,jdbcType=DECIMAL}, 
      #{state,jdbcType=VARCHAR}, #{operId,jdbcType=DECIMAL}, #{operTime,jdbcType=TIMESTAMP}, 
      #{storageGroupId,jdbcType=VARCHAR}, #{priorityNumber,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.slp.product.dao.mapper.bo.storage.SkuStorage" >
    insert into sku_storage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="skuStorageId != null" >
        SKU_STORAGE_ID,
      </if>
      <if test="skuId != null" >
        SKU_ID,
      </if>
      <if test="storageId != null" >
        STORAGE_ID,
      </if>
      <if test="salePrice != null" >
        SALE_PRICE,
      </if>
      <if test="totalNum != null" >
        TOTAL_NUM,
      </if>
      <if test="usableNum != null" >
        USABLE_NUM,
      </if>
      <if test="state != null" >
        STATE,
      </if>
      <if test="operId != null" >
        OPER_ID,
      </if>
      <if test="operTime != null" >
        OPER_TIME,
      </if>
      <if test="storageGroupId != null" >
        STORAGE_GROUP_ID,
      </if>
      <if test="priorityNumber != null" >
        PRIORITY_NUMBER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="skuStorageId != null" >
        #{skuStorageId,jdbcType=VARCHAR},
      </if>
      <if test="skuId != null" >
        #{skuId,jdbcType=VARCHAR},
      </if>
      <if test="storageId != null" >
        #{storageId,jdbcType=VARCHAR},
      </if>
      <if test="salePrice != null" >
        #{salePrice,jdbcType=DECIMAL},
      </if>
      <if test="totalNum != null" >
        #{totalNum,jdbcType=DECIMAL},
      </if>
      <if test="usableNum != null" >
        #{usableNum,jdbcType=DECIMAL},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="operId != null" >
        #{operId,jdbcType=DECIMAL},
      </if>
      <if test="operTime != null" >
        #{operTime,jdbcType=TIMESTAMP},
      </if>
      <if test="storageGroupId != null" >
        #{storageGroupId,jdbcType=VARCHAR},
      </if>
      <if test="priorityNumber != null" >
        #{priorityNumber,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.slp.product.dao.mapper.bo.storage.SkuStorageCriteria" resultType="java.lang.Integer" >
    select count(*) from sku_storage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sku_storage
    <set >
      <if test="record.skuStorageId != null" >
        SKU_STORAGE_ID = #{record.skuStorageId,jdbcType=VARCHAR},
      </if>
      <if test="record.skuId != null" >
        SKU_ID = #{record.skuId,jdbcType=VARCHAR},
      </if>
      <if test="record.storageId != null" >
        STORAGE_ID = #{record.storageId,jdbcType=VARCHAR},
      </if>
      <if test="record.salePrice != null" >
        SALE_PRICE = #{record.salePrice,jdbcType=DECIMAL},
      </if>
      <if test="record.totalNum != null" >
        TOTAL_NUM = #{record.totalNum,jdbcType=DECIMAL},
      </if>
      <if test="record.usableNum != null" >
        USABLE_NUM = #{record.usableNum,jdbcType=DECIMAL},
      </if>
      <if test="record.state != null" >
        STATE = #{record.state,jdbcType=VARCHAR},
      </if>
      <if test="record.operId != null" >
        OPER_ID = #{record.operId,jdbcType=DECIMAL},
      </if>
      <if test="record.operTime != null" >
        OPER_TIME = #{record.operTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.storageGroupId != null" >
        STORAGE_GROUP_ID = #{record.storageGroupId,jdbcType=VARCHAR},
      </if>
      <if test="record.priorityNumber != null" >
        PRIORITY_NUMBER = #{record.priorityNumber,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sku_storage
    set SKU_STORAGE_ID = #{record.skuStorageId,jdbcType=VARCHAR},
      SKU_ID = #{record.skuId,jdbcType=VARCHAR},
      STORAGE_ID = #{record.storageId,jdbcType=VARCHAR},
      SALE_PRICE = #{record.salePrice,jdbcType=DECIMAL},
      TOTAL_NUM = #{record.totalNum,jdbcType=DECIMAL},
      USABLE_NUM = #{record.usableNum,jdbcType=DECIMAL},
      STATE = #{record.state,jdbcType=VARCHAR},
      OPER_ID = #{record.operId,jdbcType=DECIMAL},
      OPER_TIME = #{record.operTime,jdbcType=TIMESTAMP},
      STORAGE_GROUP_ID = #{record.storageGroupId,jdbcType=VARCHAR},
      PRIORITY_NUMBER = #{record.priorityNumber,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.slp.product.dao.mapper.bo.storage.SkuStorage" >
    update sku_storage
    <set >
      <if test="skuId != null" >
        SKU_ID = #{skuId,jdbcType=VARCHAR},
      </if>
      <if test="storageId != null" >
        STORAGE_ID = #{storageId,jdbcType=VARCHAR},
      </if>
      <if test="salePrice != null" >
        SALE_PRICE = #{salePrice,jdbcType=DECIMAL},
      </if>
      <if test="totalNum != null" >
        TOTAL_NUM = #{totalNum,jdbcType=DECIMAL},
      </if>
      <if test="usableNum != null" >
        USABLE_NUM = #{usableNum,jdbcType=DECIMAL},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=VARCHAR},
      </if>
      <if test="operId != null" >
        OPER_ID = #{operId,jdbcType=DECIMAL},
      </if>
      <if test="operTime != null" >
        OPER_TIME = #{operTime,jdbcType=TIMESTAMP},
      </if>
      <if test="storageGroupId != null" >
        STORAGE_GROUP_ID = #{storageGroupId,jdbcType=VARCHAR},
      </if>
      <if test="priorityNumber != null" >
        PRIORITY_NUMBER = #{priorityNumber,jdbcType=DECIMAL},
      </if>
    </set>
    where SKU_STORAGE_ID = #{skuStorageId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.slp.product.dao.mapper.bo.storage.SkuStorage" >
    update sku_storage
    set SKU_ID = #{skuId,jdbcType=VARCHAR},
      STORAGE_ID = #{storageId,jdbcType=VARCHAR},
      SALE_PRICE = #{salePrice,jdbcType=DECIMAL},
      TOTAL_NUM = #{totalNum,jdbcType=DECIMAL},
      USABLE_NUM = #{usableNum,jdbcType=DECIMAL},
      STATE = #{state,jdbcType=VARCHAR},
      OPER_ID = #{operId,jdbcType=DECIMAL},
      OPER_TIME = #{operTime,jdbcType=TIMESTAMP},
      STORAGE_GROUP_ID = #{storageGroupId,jdbcType=VARCHAR},
      PRIORITY_NUMBER = #{priorityNumber,jdbcType=DECIMAL}
    where SKU_STORAGE_ID = #{skuStorageId,jdbcType=VARCHAR}
  </update>
</mapper>