<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.slp.product.dao.mapper.interfaces.storage.StorageLogMapper" >
  <resultMap id="BaseResultMap" type="com.ai.slp.product.dao.mapper.bo.storage.StorageLog" >
    <id column="LOG_ID" property="logId" jdbcType="VARCHAR" />
    <result column="STORAGE_ID" property="storageId" jdbcType="VARCHAR" />
    <result column="ROUTE_GROUP_ID" property="routeGroupId" jdbcType="DECIMAL" />
    <result column="STORAGE_GROUP_ID" property="storageGroupId" jdbcType="VARCHAR" />
    <result column="PROD_ID" property="prodId" jdbcType="VARCHAR" />
    <result column="STORAGE_NAME" property="storageName" jdbcType="VARCHAR" />
    <result column="SALE_PRICE" property="salePrice" jdbcType="DECIMAL" />
    <result column="TOTAL_NUM" property="totalNum" jdbcType="DECIMAL" />
    <result column="WARN_NUM" property="warnNum" jdbcType="DECIMAL" />
    <result column="ACTIVE_TIME" property="activeTime" jdbcType="TIMESTAMP" />
    <result column="INACTIVE_TIME" property="inactiveTime" jdbcType="TIMESTAMP" />
    <result column="PRIORITY_NUMBER" property="priorityNumber" jdbcType="DECIMAL" />
    <result column="SERIAL_NUMBER" property="serialNumber" jdbcType="DECIMAL" />
    <result column="STATE" property="state" jdbcType="VARCHAR" />
    <result column="OPER_ID" property="operId" jdbcType="DECIMAL" />
    <result column="OPER_TIME" property="operTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_ID" property="createId" jdbcType="DECIMAL" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    LOG_ID, STORAGE_ID, ROUTE_GROUP_ID, STORAGE_GROUP_ID, PROD_ID, STORAGE_NAME, SALE_PRICE, 
    TOTAL_NUM, WARN_NUM, ACTIVE_TIME, INACTIVE_TIME, PRIORITY_NUMBER, SERIAL_NUMBER, 
    STATE, OPER_ID, OPER_TIME, CREATE_ID, CREATE_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.slp.product.dao.mapper.bo.storage.StorageLogCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from storage_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from storage_log
    where LOG_ID = #{logId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from storage_log
    where LOG_ID = #{logId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.slp.product.dao.mapper.bo.storage.StorageLogCriteria" >
    delete from storage_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.slp.product.dao.mapper.bo.storage.StorageLog" >
    insert into storage_log (LOG_ID, STORAGE_ID, ROUTE_GROUP_ID, 
      STORAGE_GROUP_ID, PROD_ID, STORAGE_NAME, 
      SALE_PRICE, TOTAL_NUM, WARN_NUM, 
      ACTIVE_TIME, INACTIVE_TIME, PRIORITY_NUMBER, 
      SERIAL_NUMBER, STATE, OPER_ID, 
      OPER_TIME, CREATE_ID, CREATE_TIME
      )
    values (#{logId,jdbcType=VARCHAR}, #{storageId,jdbcType=VARCHAR}, #{routeGroupId,jdbcType=DECIMAL}, 
      #{storageGroupId,jdbcType=VARCHAR}, #{prodId,jdbcType=VARCHAR}, #{storageName,jdbcType=VARCHAR}, 
      #{salePrice,jdbcType=DECIMAL}, #{totalNum,jdbcType=DECIMAL}, #{warnNum,jdbcType=DECIMAL}, 
      #{activeTime,jdbcType=TIMESTAMP}, #{inactiveTime,jdbcType=TIMESTAMP}, #{priorityNumber,jdbcType=DECIMAL}, 
      #{serialNumber,jdbcType=DECIMAL}, #{state,jdbcType=VARCHAR}, #{operId,jdbcType=DECIMAL}, 
      #{operTime,jdbcType=TIMESTAMP}, #{createId,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ai.slp.product.dao.mapper.bo.storage.StorageLog" >
    insert into storage_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="logId != null" >
        LOG_ID,
      </if>
      <if test="storageId != null" >
        STORAGE_ID,
      </if>
      <if test="routeGroupId != null" >
        ROUTE_GROUP_ID,
      </if>
      <if test="storageGroupId != null" >
        STORAGE_GROUP_ID,
      </if>
      <if test="prodId != null" >
        PROD_ID,
      </if>
      <if test="storageName != null" >
        STORAGE_NAME,
      </if>
      <if test="salePrice != null" >
        SALE_PRICE,
      </if>
      <if test="totalNum != null" >
        TOTAL_NUM,
      </if>
      <if test="warnNum != null" >
        WARN_NUM,
      </if>
      <if test="activeTime != null" >
        ACTIVE_TIME,
      </if>
      <if test="inactiveTime != null" >
        INACTIVE_TIME,
      </if>
      <if test="priorityNumber != null" >
        PRIORITY_NUMBER,
      </if>
      <if test="serialNumber != null" >
        SERIAL_NUMBER,
      </if>
      <if test="state != null" >
        STATE,
      </if>
      <if test="operId != null" >
        OPER_ID,
      </if>
      <if test="operTime != null" >
        OPER_TIME,
      </if>
      <if test="createId != null" >
        CREATE_ID,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="logId != null" >
        #{logId,jdbcType=VARCHAR},
      </if>
      <if test="storageId != null" >
        #{storageId,jdbcType=VARCHAR},
      </if>
      <if test="routeGroupId != null" >
        #{routeGroupId,jdbcType=DECIMAL},
      </if>
      <if test="storageGroupId != null" >
        #{storageGroupId,jdbcType=VARCHAR},
      </if>
      <if test="prodId != null" >
        #{prodId,jdbcType=VARCHAR},
      </if>
      <if test="storageName != null" >
        #{storageName,jdbcType=VARCHAR},
      </if>
      <if test="salePrice != null" >
        #{salePrice,jdbcType=DECIMAL},
      </if>
      <if test="totalNum != null" >
        #{totalNum,jdbcType=DECIMAL},
      </if>
      <if test="warnNum != null" >
        #{warnNum,jdbcType=DECIMAL},
      </if>
      <if test="activeTime != null" >
        #{activeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="inactiveTime != null" >
        #{inactiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="priorityNumber != null" >
        #{priorityNumber,jdbcType=DECIMAL},
      </if>
      <if test="serialNumber != null" >
        #{serialNumber,jdbcType=DECIMAL},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="operId != null" >
        #{operId,jdbcType=DECIMAL},
      </if>
      <if test="operTime != null" >
        #{operTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.slp.product.dao.mapper.bo.storage.StorageLogCriteria" resultType="java.lang.Integer" >
    select count(*) from storage_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update storage_log
    <set >
      <if test="record.logId != null" >
        LOG_ID = #{record.logId,jdbcType=VARCHAR},
      </if>
      <if test="record.storageId != null" >
        STORAGE_ID = #{record.storageId,jdbcType=VARCHAR},
      </if>
      <if test="record.routeGroupId != null" >
        ROUTE_GROUP_ID = #{record.routeGroupId,jdbcType=DECIMAL},
      </if>
      <if test="record.storageGroupId != null" >
        STORAGE_GROUP_ID = #{record.storageGroupId,jdbcType=VARCHAR},
      </if>
      <if test="record.prodId != null" >
        PROD_ID = #{record.prodId,jdbcType=VARCHAR},
      </if>
      <if test="record.storageName != null" >
        STORAGE_NAME = #{record.storageName,jdbcType=VARCHAR},
      </if>
      <if test="record.salePrice != null" >
        SALE_PRICE = #{record.salePrice,jdbcType=DECIMAL},
      </if>
      <if test="record.totalNum != null" >
        TOTAL_NUM = #{record.totalNum,jdbcType=DECIMAL},
      </if>
      <if test="record.warnNum != null" >
        WARN_NUM = #{record.warnNum,jdbcType=DECIMAL},
      </if>
      <if test="record.activeTime != null" >
        ACTIVE_TIME = #{record.activeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.inactiveTime != null" >
        INACTIVE_TIME = #{record.inactiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.priorityNumber != null" >
        PRIORITY_NUMBER = #{record.priorityNumber,jdbcType=DECIMAL},
      </if>
      <if test="record.serialNumber != null" >
        SERIAL_NUMBER = #{record.serialNumber,jdbcType=DECIMAL},
      </if>
      <if test="record.state != null" >
        STATE = #{record.state,jdbcType=VARCHAR},
      </if>
      <if test="record.operId != null" >
        OPER_ID = #{record.operId,jdbcType=DECIMAL},
      </if>
      <if test="record.operTime != null" >
        OPER_TIME = #{record.operTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createId != null" >
        CREATE_ID = #{record.createId,jdbcType=DECIMAL},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update storage_log
    set LOG_ID = #{record.logId,jdbcType=VARCHAR},
      STORAGE_ID = #{record.storageId,jdbcType=VARCHAR},
      ROUTE_GROUP_ID = #{record.routeGroupId,jdbcType=DECIMAL},
      STORAGE_GROUP_ID = #{record.storageGroupId,jdbcType=VARCHAR},
      PROD_ID = #{record.prodId,jdbcType=VARCHAR},
      STORAGE_NAME = #{record.storageName,jdbcType=VARCHAR},
      SALE_PRICE = #{record.salePrice,jdbcType=DECIMAL},
      TOTAL_NUM = #{record.totalNum,jdbcType=DECIMAL},
      WARN_NUM = #{record.warnNum,jdbcType=DECIMAL},
      ACTIVE_TIME = #{record.activeTime,jdbcType=TIMESTAMP},
      INACTIVE_TIME = #{record.inactiveTime,jdbcType=TIMESTAMP},
      PRIORITY_NUMBER = #{record.priorityNumber,jdbcType=DECIMAL},
      SERIAL_NUMBER = #{record.serialNumber,jdbcType=DECIMAL},
      STATE = #{record.state,jdbcType=VARCHAR},
      OPER_ID = #{record.operId,jdbcType=DECIMAL},
      OPER_TIME = #{record.operTime,jdbcType=TIMESTAMP},
      CREATE_ID = #{record.createId,jdbcType=DECIMAL},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.slp.product.dao.mapper.bo.storage.StorageLog" >
    update storage_log
    <set >
      <if test="storageId != null" >
        STORAGE_ID = #{storageId,jdbcType=VARCHAR},
      </if>
      <if test="routeGroupId != null" >
        ROUTE_GROUP_ID = #{routeGroupId,jdbcType=DECIMAL},
      </if>
      <if test="storageGroupId != null" >
        STORAGE_GROUP_ID = #{storageGroupId,jdbcType=VARCHAR},
      </if>
      <if test="prodId != null" >
        PROD_ID = #{prodId,jdbcType=VARCHAR},
      </if>
      <if test="storageName != null" >
        STORAGE_NAME = #{storageName,jdbcType=VARCHAR},
      </if>
      <if test="salePrice != null" >
        SALE_PRICE = #{salePrice,jdbcType=DECIMAL},
      </if>
      <if test="totalNum != null" >
        TOTAL_NUM = #{totalNum,jdbcType=DECIMAL},
      </if>
      <if test="warnNum != null" >
        WARN_NUM = #{warnNum,jdbcType=DECIMAL},
      </if>
      <if test="activeTime != null" >
        ACTIVE_TIME = #{activeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="inactiveTime != null" >
        INACTIVE_TIME = #{inactiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="priorityNumber != null" >
        PRIORITY_NUMBER = #{priorityNumber,jdbcType=DECIMAL},
      </if>
      <if test="serialNumber != null" >
        SERIAL_NUMBER = #{serialNumber,jdbcType=DECIMAL},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=VARCHAR},
      </if>
      <if test="operId != null" >
        OPER_ID = #{operId,jdbcType=DECIMAL},
      </if>
      <if test="operTime != null" >
        OPER_TIME = #{operTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null" >
        CREATE_ID = #{createId,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where LOG_ID = #{logId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.slp.product.dao.mapper.bo.storage.StorageLog" >
    update storage_log
    set STORAGE_ID = #{storageId,jdbcType=VARCHAR},
      ROUTE_GROUP_ID = #{routeGroupId,jdbcType=DECIMAL},
      STORAGE_GROUP_ID = #{storageGroupId,jdbcType=VARCHAR},
      PROD_ID = #{prodId,jdbcType=VARCHAR},
      STORAGE_NAME = #{storageName,jdbcType=VARCHAR},
      SALE_PRICE = #{salePrice,jdbcType=DECIMAL},
      TOTAL_NUM = #{totalNum,jdbcType=DECIMAL},
      WARN_NUM = #{warnNum,jdbcType=DECIMAL},
      ACTIVE_TIME = #{activeTime,jdbcType=TIMESTAMP},
      INACTIVE_TIME = #{inactiveTime,jdbcType=TIMESTAMP},
      PRIORITY_NUMBER = #{priorityNumber,jdbcType=DECIMAL},
      SERIAL_NUMBER = #{serialNumber,jdbcType=DECIMAL},
      STATE = #{state,jdbcType=VARCHAR},
      OPER_ID = #{operId,jdbcType=DECIMAL},
      OPER_TIME = #{operTime,jdbcType=TIMESTAMP},
      CREATE_ID = #{createId,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where LOG_ID = #{logId,jdbcType=VARCHAR}
  </update>
</mapper>