<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.slp.charge.dao.mapper.interfaces.AccTaxPrintLogMapper" >
  <resultMap id="BaseResultMap" type="com.ai.slp.charge.dao.mapper.bo.AccTaxPrintLog" >
    <result column="tenant_id" property="tenantId" jdbcType="VARCHAR" />
    <result column="serial_code" property="serialCode" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="business_code" property="businessCode" jdbcType="VARCHAR" />
    <result column="account_id" property="accountId" jdbcType="BIGINT" />
    <result column="cust_id" property="custId" jdbcType="BIGINT" />
    <result column="print_date" property="printDate" jdbcType="TIMESTAMP" />
    <result column="cycle_month" property="cycleMonth" jdbcType="VARCHAR" />
    <result column="invoice_title" property="invoiceTitle" jdbcType="VARCHAR" />
    <result column="inv_certificate_no" property="invCertificateNo" jdbcType="VARCHAR" />
    <result column="inv_address" property="invAddress" jdbcType="VARCHAR" />
    <result column="inv_bank" property="invBank" jdbcType="VARCHAR" />
    <result column="total_amount" property="totalAmount" jdbcType="BIGINT" />
    <result column="gift_amount" property="giftAmount" jdbcType="BIGINT" />
    <result column="base_rate" property="baseRate" jdbcType="DOUBLE" />
    <result column="add_rate" property="addRate" jdbcType="DOUBLE" />
    <result column="base_amount" property="baseAmount" jdbcType="BIGINT" />
    <result column="add_amount" property="addAmount" jdbcType="BIGINT" />
    <result column="terminal_amount" property="terminalAmount" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="last_status_date" property="lastStatusDate" jdbcType="TIMESTAMP" />
    <result column="operator_id" property="operatorId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="invoice_type" property="invoiceType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    tenant_id, serial_code, order_id, business_code, account_id, cust_id, print_date, 
    cycle_month, invoice_title, inv_certificate_no, inv_address, inv_bank, total_amount, 
    gift_amount, base_rate, add_rate, base_amount, add_amount, terminal_amount, status, 
    last_status_date, operator_id, create_time, invoice_type
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.slp.charge.dao.mapper.bo.AccTaxPrintLogCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from acc_tax_print_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.ai.slp.charge.dao.mapper.bo.AccTaxPrintLogCriteria" >
    delete from acc_tax_print_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.slp.charge.dao.mapper.bo.AccTaxPrintLog" >
    insert into acc_tax_print_log (tenant_id, serial_code, order_id, 
      business_code, account_id, cust_id, 
      print_date, cycle_month, invoice_title, 
      inv_certificate_no, inv_address, inv_bank, 
      total_amount, gift_amount, base_rate, 
      add_rate, base_amount, add_amount, 
      terminal_amount, status, last_status_date, 
      operator_id, create_time, invoice_type
      )
    values (#{tenantId,jdbcType=VARCHAR}, #{serialCode,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, 
      #{businessCode,jdbcType=VARCHAR}, #{accountId,jdbcType=BIGINT}, #{custId,jdbcType=BIGINT}, 
      #{printDate,jdbcType=TIMESTAMP}, #{cycleMonth,jdbcType=VARCHAR}, #{invoiceTitle,jdbcType=VARCHAR}, 
      #{invCertificateNo,jdbcType=VARCHAR}, #{invAddress,jdbcType=VARCHAR}, #{invBank,jdbcType=VARCHAR}, 
      #{totalAmount,jdbcType=BIGINT}, #{giftAmount,jdbcType=BIGINT}, #{baseRate,jdbcType=DOUBLE}, 
      #{addRate,jdbcType=DOUBLE}, #{baseAmount,jdbcType=BIGINT}, #{addAmount,jdbcType=BIGINT}, 
      #{terminalAmount,jdbcType=BIGINT}, #{status,jdbcType=INTEGER}, #{lastStatusDate,jdbcType=TIMESTAMP}, 
      #{operatorId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{invoiceType,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ai.slp.charge.dao.mapper.bo.AccTaxPrintLog" >
    insert into acc_tax_print_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tenantId != null" >
        tenant_id,
      </if>
      <if test="serialCode != null" >
        serial_code,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="businessCode != null" >
        business_code,
      </if>
      <if test="accountId != null" >
        account_id,
      </if>
      <if test="custId != null" >
        cust_id,
      </if>
      <if test="printDate != null" >
        print_date,
      </if>
      <if test="cycleMonth != null" >
        cycle_month,
      </if>
      <if test="invoiceTitle != null" >
        invoice_title,
      </if>
      <if test="invCertificateNo != null" >
        inv_certificate_no,
      </if>
      <if test="invAddress != null" >
        inv_address,
      </if>
      <if test="invBank != null" >
        inv_bank,
      </if>
      <if test="totalAmount != null" >
        total_amount,
      </if>
      <if test="giftAmount != null" >
        gift_amount,
      </if>
      <if test="baseRate != null" >
        base_rate,
      </if>
      <if test="addRate != null" >
        add_rate,
      </if>
      <if test="baseAmount != null" >
        base_amount,
      </if>
      <if test="addAmount != null" >
        add_amount,
      </if>
      <if test="terminalAmount != null" >
        terminal_amount,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="lastStatusDate != null" >
        last_status_date,
      </if>
      <if test="operatorId != null" >
        operator_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="invoiceType != null" >
        invoice_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tenantId != null" >
        #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="serialCode != null" >
        #{serialCode,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="businessCode != null" >
        #{businessCode,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null" >
        #{accountId,jdbcType=BIGINT},
      </if>
      <if test="custId != null" >
        #{custId,jdbcType=BIGINT},
      </if>
      <if test="printDate != null" >
        #{printDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cycleMonth != null" >
        #{cycleMonth,jdbcType=VARCHAR},
      </if>
      <if test="invoiceTitle != null" >
        #{invoiceTitle,jdbcType=VARCHAR},
      </if>
      <if test="invCertificateNo != null" >
        #{invCertificateNo,jdbcType=VARCHAR},
      </if>
      <if test="invAddress != null" >
        #{invAddress,jdbcType=VARCHAR},
      </if>
      <if test="invBank != null" >
        #{invBank,jdbcType=VARCHAR},
      </if>
      <if test="totalAmount != null" >
        #{totalAmount,jdbcType=BIGINT},
      </if>
      <if test="giftAmount != null" >
        #{giftAmount,jdbcType=BIGINT},
      </if>
      <if test="baseRate != null" >
        #{baseRate,jdbcType=DOUBLE},
      </if>
      <if test="addRate != null" >
        #{addRate,jdbcType=DOUBLE},
      </if>
      <if test="baseAmount != null" >
        #{baseAmount,jdbcType=BIGINT},
      </if>
      <if test="addAmount != null" >
        #{addAmount,jdbcType=BIGINT},
      </if>
      <if test="terminalAmount != null" >
        #{terminalAmount,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="lastStatusDate != null" >
        #{lastStatusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorId != null" >
        #{operatorId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="invoiceType != null" >
        #{invoiceType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.slp.charge.dao.mapper.bo.AccTaxPrintLogCriteria" resultType="java.lang.Integer" >
    select count(*) from acc_tax_print_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update acc_tax_print_log
    <set >
      <if test="record.tenantId != null" >
        tenant_id = #{record.tenantId,jdbcType=VARCHAR},
      </if>
      <if test="record.serialCode != null" >
        serial_code = #{record.serialCode,jdbcType=VARCHAR},
      </if>
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.businessCode != null" >
        business_code = #{record.businessCode,jdbcType=VARCHAR},
      </if>
      <if test="record.accountId != null" >
        account_id = #{record.accountId,jdbcType=BIGINT},
      </if>
      <if test="record.custId != null" >
        cust_id = #{record.custId,jdbcType=BIGINT},
      </if>
      <if test="record.printDate != null" >
        print_date = #{record.printDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cycleMonth != null" >
        cycle_month = #{record.cycleMonth,jdbcType=VARCHAR},
      </if>
      <if test="record.invoiceTitle != null" >
        invoice_title = #{record.invoiceTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.invCertificateNo != null" >
        inv_certificate_no = #{record.invCertificateNo,jdbcType=VARCHAR},
      </if>
      <if test="record.invAddress != null" >
        inv_address = #{record.invAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.invBank != null" >
        inv_bank = #{record.invBank,jdbcType=VARCHAR},
      </if>
      <if test="record.totalAmount != null" >
        total_amount = #{record.totalAmount,jdbcType=BIGINT},
      </if>
      <if test="record.giftAmount != null" >
        gift_amount = #{record.giftAmount,jdbcType=BIGINT},
      </if>
      <if test="record.baseRate != null" >
        base_rate = #{record.baseRate,jdbcType=DOUBLE},
      </if>
      <if test="record.addRate != null" >
        add_rate = #{record.addRate,jdbcType=DOUBLE},
      </if>
      <if test="record.baseAmount != null" >
        base_amount = #{record.baseAmount,jdbcType=BIGINT},
      </if>
      <if test="record.addAmount != null" >
        add_amount = #{record.addAmount,jdbcType=BIGINT},
      </if>
      <if test="record.terminalAmount != null" >
        terminal_amount = #{record.terminalAmount,jdbcType=BIGINT},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.lastStatusDate != null" >
        last_status_date = #{record.lastStatusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.operatorId != null" >
        operator_id = #{record.operatorId,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.invoiceType != null" >
        invoice_type = #{record.invoiceType,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update acc_tax_print_log
    set tenant_id = #{record.tenantId,jdbcType=VARCHAR},
      serial_code = #{record.serialCode,jdbcType=VARCHAR},
      order_id = #{record.orderId,jdbcType=VARCHAR},
      business_code = #{record.businessCode,jdbcType=VARCHAR},
      account_id = #{record.accountId,jdbcType=BIGINT},
      cust_id = #{record.custId,jdbcType=BIGINT},
      print_date = #{record.printDate,jdbcType=TIMESTAMP},
      cycle_month = #{record.cycleMonth,jdbcType=VARCHAR},
      invoice_title = #{record.invoiceTitle,jdbcType=VARCHAR},
      inv_certificate_no = #{record.invCertificateNo,jdbcType=VARCHAR},
      inv_address = #{record.invAddress,jdbcType=VARCHAR},
      inv_bank = #{record.invBank,jdbcType=VARCHAR},
      total_amount = #{record.totalAmount,jdbcType=BIGINT},
      gift_amount = #{record.giftAmount,jdbcType=BIGINT},
      base_rate = #{record.baseRate,jdbcType=DOUBLE},
      add_rate = #{record.addRate,jdbcType=DOUBLE},
      base_amount = #{record.baseAmount,jdbcType=BIGINT},
      add_amount = #{record.addAmount,jdbcType=BIGINT},
      terminal_amount = #{record.terminalAmount,jdbcType=BIGINT},
      status = #{record.status,jdbcType=INTEGER},
      last_status_date = #{record.lastStatusDate,jdbcType=TIMESTAMP},
      operator_id = #{record.operatorId,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      invoice_type = #{record.invoiceType,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>