<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.slp.product.dao.mapper.interfaces.ProdAttrDefMapper" >
  <resultMap id="BaseResultMap" type="com.ai.slp.product.dao.mapper.bo.ProdAttrDef" >
    <id column="ATTR_ID" property="attrId" jdbcType="DECIMAL" />
    <result column="TENANT_ID" property="tenantId" jdbcType="VARCHAR" />
    <result column="ATTR_NAME" property="attrName" jdbcType="VARCHAR" />
    <result column="FIRST_LETTER" property="firstLetter" jdbcType="VARCHAR" />
    <result column="VALUE_WAY" property="valueWay" jdbcType="VARCHAR" />
    <result column="STATE" property="state" jdbcType="VARCHAR" />
    <result column="OPER_ID" property="operId" jdbcType="DECIMAL" />
    <result column="OPER_TIME" property="operTime" jdbcType="TIMESTAMP" />
    <result column="IS_ALLOW_CUSTOM" property="isAllowCustom" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ATTR_ID, TENANT_ID, ATTR_NAME, FIRST_LETTER, VALUE_WAY, STATE, OPER_ID, OPER_TIME, 
    IS_ALLOW_CUSTOM
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.slp.product.dao.mapper.bo.ProdAttrDefCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from prod_attr_def
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from prod_attr_def
    where ATTR_ID = #{attrId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from prod_attr_def
    where ATTR_ID = #{attrId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.slp.product.dao.mapper.bo.ProdAttrDefCriteria" >
    delete from prod_attr_def
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.slp.product.dao.mapper.bo.ProdAttrDef" >
    insert into prod_attr_def (ATTR_ID, TENANT_ID, ATTR_NAME, 
      FIRST_LETTER, VALUE_WAY, STATE, 
      OPER_ID, OPER_TIME, IS_ALLOW_CUSTOM
      )
    values (#{attrId,jdbcType=DECIMAL}, #{tenantId,jdbcType=VARCHAR}, #{attrName,jdbcType=VARCHAR}, 
      #{firstLetter,jdbcType=VARCHAR}, #{valueWay,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, 
      #{operId,jdbcType=DECIMAL}, #{operTime,jdbcType=TIMESTAMP}, #{isAllowCustom,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ai.slp.product.dao.mapper.bo.ProdAttrDef" >
    insert into prod_attr_def
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="attrId != null" >
        ATTR_ID,
      </if>
      <if test="tenantId != null" >
        TENANT_ID,
      </if>
      <if test="attrName != null" >
        ATTR_NAME,
      </if>
      <if test="firstLetter != null" >
        FIRST_LETTER,
      </if>
      <if test="valueWay != null" >
        VALUE_WAY,
      </if>
      <if test="state != null" >
        STATE,
      </if>
      <if test="operId != null" >
        OPER_ID,
      </if>
      <if test="operTime != null" >
        OPER_TIME,
      </if>
      <if test="isAllowCustom != null" >
        IS_ALLOW_CUSTOM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="attrId != null" >
        #{attrId,jdbcType=DECIMAL},
      </if>
      <if test="tenantId != null" >
        #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="attrName != null" >
        #{attrName,jdbcType=VARCHAR},
      </if>
      <if test="firstLetter != null" >
        #{firstLetter,jdbcType=VARCHAR},
      </if>
      <if test="valueWay != null" >
        #{valueWay,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="operId != null" >
        #{operId,jdbcType=DECIMAL},
      </if>
      <if test="operTime != null" >
        #{operTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isAllowCustom != null" >
        #{isAllowCustom,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.slp.product.dao.mapper.bo.ProdAttrDefCriteria" resultType="java.lang.Integer" >
    select count(*) from prod_attr_def
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update prod_attr_def
    <set >
      <if test="record.attrId != null" >
        ATTR_ID = #{record.attrId,jdbcType=DECIMAL},
      </if>
      <if test="record.tenantId != null" >
        TENANT_ID = #{record.tenantId,jdbcType=VARCHAR},
      </if>
      <if test="record.attrName != null" >
        ATTR_NAME = #{record.attrName,jdbcType=VARCHAR},
      </if>
      <if test="record.firstLetter != null" >
        FIRST_LETTER = #{record.firstLetter,jdbcType=VARCHAR},
      </if>
      <if test="record.valueWay != null" >
        VALUE_WAY = #{record.valueWay,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        STATE = #{record.state,jdbcType=VARCHAR},
      </if>
      <if test="record.operId != null" >
        OPER_ID = #{record.operId,jdbcType=DECIMAL},
      </if>
      <if test="record.operTime != null" >
        OPER_TIME = #{record.operTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isAllowCustom != null" >
        IS_ALLOW_CUSTOM = #{record.isAllowCustom,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update prod_attr_def
    set ATTR_ID = #{record.attrId,jdbcType=DECIMAL},
      TENANT_ID = #{record.tenantId,jdbcType=VARCHAR},
      ATTR_NAME = #{record.attrName,jdbcType=VARCHAR},
      FIRST_LETTER = #{record.firstLetter,jdbcType=VARCHAR},
      VALUE_WAY = #{record.valueWay,jdbcType=VARCHAR},
      STATE = #{record.state,jdbcType=VARCHAR},
      OPER_ID = #{record.operId,jdbcType=DECIMAL},
      OPER_TIME = #{record.operTime,jdbcType=TIMESTAMP},
      IS_ALLOW_CUSTOM = #{record.isAllowCustom,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.slp.product.dao.mapper.bo.ProdAttrDef" >
    update prod_attr_def
    <set >
      <if test="tenantId != null" >
        TENANT_ID = #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="attrName != null" >
        ATTR_NAME = #{attrName,jdbcType=VARCHAR},
      </if>
      <if test="firstLetter != null" >
        FIRST_LETTER = #{firstLetter,jdbcType=VARCHAR},
      </if>
      <if test="valueWay != null" >
        VALUE_WAY = #{valueWay,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=VARCHAR},
      </if>
      <if test="operId != null" >
        OPER_ID = #{operId,jdbcType=DECIMAL},
      </if>
      <if test="operTime != null" >
        OPER_TIME = #{operTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isAllowCustom != null" >
        IS_ALLOW_CUSTOM = #{isAllowCustom,jdbcType=CHAR},
      </if>
    </set>
    where ATTR_ID = #{attrId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.slp.product.dao.mapper.bo.ProdAttrDef" >
    update prod_attr_def
    set TENANT_ID = #{tenantId,jdbcType=VARCHAR},
      ATTR_NAME = #{attrName,jdbcType=VARCHAR},
      FIRST_LETTER = #{firstLetter,jdbcType=VARCHAR},
      VALUE_WAY = #{valueWay,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=VARCHAR},
      OPER_ID = #{operId,jdbcType=DECIMAL},
      OPER_TIME = #{operTime,jdbcType=TIMESTAMP},
      IS_ALLOW_CUSTOM = #{isAllowCustom,jdbcType=CHAR}
    where ATTR_ID = #{attrId,jdbcType=DECIMAL}
  </update>
</mapper>